## -----------------
## 
## overview_index
## Calculate index for selected period and show statistic along with movement from previous period
## 
## vars:
##   connectionId: _string_ (REQUIRED) - MongoDB collection connection id.
##   divisions:
##   departments:
## ------------------

id: overview_index
type: MongoDBAggregation
connectionId: {{ connectionId }}
properties:
  pipeline:
    - $match:
        published: true
        department:
          $in:
            _state: departments
        financial_year:
          _state: max_financial_year
    - $match:
        Mnt:
          $lte:
            _state: end_month
    - $facet:
        fytd:
          - $group:
              _id: 0
              company_sample:
                $sum: 1
              company_csi:
                $avg: $csi
              company_promoters:
                $sum:
                  $cond:
                    - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              company_detractors:
                $sum:
                  $cond:
                    - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              company_nps_sample:
                $sum:
                  $cond:
                    - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% for item in departments %}
              {{ item.field }}_sample:
                $sum:
                  $cond:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - 1
                    - 0
              {{ item.field }}_csi:
                $avg:
                  $cond:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $csi
                    - null
              {{ item.field }}_promoters:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              {{ item.field }}_detractors:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              {{ item.field }}_nps_sample:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% endfor %}
{% for item in divisions %}
              {{ item.field }}_sample:
                $sum:
                  $cond:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - 1
                    - 0
              {{ item.field }}_csi:
                $avg:
                  $cond:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $csi
                    - null
              {{ item.field }}_promoters:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              {{ item.field }}_detractors:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              {{ item.field }}_nps_sample:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% endfor %}
          - $addFields:
              company_nps:
                $cond:
                  - $eq:
                      - $company_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - $company_promoters
                              - $company_detractors
                          - $company_nps_sample
                      - 100
{% for item in departments %}
              {{ item.field }}_nps:
                $cond:
                  - $eq:
                      - ${{ item.field }}_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - ${{ item.field }}_promoters
                              - ${{ item.field }}_detractors
                          - ${{ item.field }}_nps_sample
                      - 100
{% endfor %}
{% for item in divisions %}
              {{ item.field }}_nps:
                $cond:
                  - $eq:
                      - ${{ item.field }}_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - ${{ item.field }}_promoters
                              - ${{ item.field }}_detractors
                          - ${{ item.field }}_nps_sample
                      - 100
{% endfor %}
          - $project:
              csi_company_fytd: $company_csi
              nps_company_fytd: $company_nps
{% for item in divisions %}
              csi_{{ item.field }}_fytd: ${{ item.field }}_csi
              nps_{{ item.field }}_fytd: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
              csi_{{ item.field }}_fytd: ${{ item.field }}_csi
              nps_{{ item.field }}_fytd: ${{ item.field }}_nps
{% endfor %}

        current_month:
          - $match:
              Mnt:
                _state: end_month
          - $group:
              _id: 0
              company_sample:
                $sum: 1
              company_csi:
                $avg: $csi
              company_promoters:
                $sum:
                  $cond:
                    - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              company_detractors:
                $sum:
                  $cond:
                    - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              company_nps_sample:
                $sum:
                  $cond:
                    - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% for item in departments %}
              {{ item.field }}_sample:
                $sum:
                  $cond:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - 1
                    - 0
              {{ item.field }}_csi:
                $avg:
                  $cond:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $csi
                    - null
              {{ item.field }}_promoters:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              {{ item.field }}_detractors:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              {{ item.field }}_nps_sample:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% endfor %}
{% for item in divisions %}
              {{ item.field }}_sample:
                $sum:
                  $cond:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - 1
                    - 0
              {{ item.field }}_csi:
                $avg:
                  $cond:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $csi
                    - null
              {{ item.field }}_promoters:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              {{ item.field }}_detractors:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              {{ item.field }}_nps_sample:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% endfor %}
          - $addFields:
              company_nps:
                $cond:
                  - $eq:
                      - $company_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - $company_promoters
                              - $company_detractors
                          - $company_nps_sample
                      - 100
{% for item in departments %}
              {{ item.field }}_nps:
                $cond:
                  - $eq:
                      - ${{ item.field }}_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - ${{ item.field }}_promoters
                              - ${{ item.field }}_detractors
                          - ${{ item.field }}_nps_sample
                      - 100
{% endfor %}
{% for item in divisions %}
              {{ item.field }}_nps:
                $cond:
                  - $eq:
                      - ${{ item.field }}_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - ${{ item.field }}_promoters
                              - ${{ item.field }}_detractors
                          - ${{ item.field }}_nps_sample
                      - 100
{% endfor %}
          - $project:
              csi_company_current: $company_csi
              nps_company_current: $company_nps
{% for item in divisions %}
              csi_{{ item.field }}_current: ${{ item.field }}_csi
              nps_{{ item.field }}_current: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
              csi_{{ item.field }}_current: ${{ item.field }}_csi
              nps_{{ item.field }}_current: ${{ item.field }}_nps
{% endfor %}
    
        previous_month:
          - $match:
              $expr:
                $eq:
                  - $Mnt
                  - $dateFromParts:
                      year:
                        $year:
                          _state: end_month
                      month:
                        $subtract:
                          - $month:
                              _state: end_month
                          - 1
          - $group:
              _id: 0
              company_sample:
                $sum: 1
              company_csi:
                $avg: $csi
              company_promoters:
                $sum:
                  $cond:
                    - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              company_detractors:
                $sum:
                  $cond:
                    - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              company_nps_sample:
                $sum:
                  $cond:
                    - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% for item in departments %}
              {{ item.field }}_sample:
                $sum:
                  $cond:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - 1
                    - 0
              {{ item.field }}_csi:
                $avg:
                  $cond:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $csi
                    - null
              {{ item.field }}_promoters:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              {{ item.field }}_detractors:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              {{ item.field }}_nps_sample:
                $sum:
                  $cond:
                    - $and:
                      - $eq:
                        - $department
                        - {{ item.name }}
                      - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% endfor %}
{% for item in divisions %}
              {{ item.field }}_sample:
                $sum:
                  $cond:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - 1
                    - 0
              {{ item.field }}_csi:
                $avg:
                  $cond:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $csi
                    - null
              {{ item.field }}_promoters:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $eq:
                        - $promoter
                        - Promoter
                    - 1
                    - 0
              {{ item.field }}_detractors:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $eq:
                        - $promoter
                        - Detractor
                    - 1
                    - 0
              {{ item.field }}_nps_sample:
                $sum:
                  $cond:
                    - $and:
                      - $or:
{% for department in item.departments %}
                        - $eq:
                          - $department
                          - {{ department }}
{% endfor %}
                      - $ne:
                        - $promoter
                        - null
                    - 1
                    - 0
{% endfor %}
          - $addFields:
              company_nps:
                $cond:
                  - $eq:
                      - $company_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - $company_promoters
                              - $company_detractors
                          - $company_nps_sample
                      - 100
{% for item in departments %}
              {{ item.field }}_nps:
                $cond:
                  - $eq:
                      - ${{ item.field }}_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - ${{ item.field }}_promoters
                              - ${{ item.field }}_detractors
                          - ${{ item.field }}_nps_sample
                      - 100
{% endfor %}
{% for item in divisions %}
              {{ item.field }}_nps:
                $cond:
                  - $eq:
                      - ${{ item.field }}_nps_sample
                      - 0
                  - null
                  - $multiply:
                      - $divide:
                          - $subtract:
                              - ${{ item.field }}_promoters
                              - ${{ item.field }}_detractors
                          - ${{ item.field }}_nps_sample
                      - 100
{% endfor %}
          - $project:
              csi_company_previous: $company_csi
              nps_company_previous: $company_nps
{% for item in divisions %}
              csi_{{ item.field }}_previous: ${{ item.field }}_csi
              nps_{{ item.field }}_previous: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
              csi_{{ item.field }}_previous: ${{ item.field }}_csi
              nps_{{ item.field }}_previous: ${{ item.field }}_nps
{% endfor %}
    - $unwind:
        path: $fytd
    - $unwind:
        path: $current_month
    - $unwind:
        path: $previous_month
    - $project:
        A:
          $mergeObjects:
            - $current_month
            - csi_company_difference:
                $subtract:
                  - $current_month.csi_company_current
                  - $previous_month.csi_company_previous
              nps_company_difference:
                $subtract:
                  - $current_month.nps_company_current
                  - $previous_month.nps_company_previous 
{% for item in divisions %}
              csi_{{ item.field }}_difference:
                $subtract:
                  - $current_month.csi_{{ item.field }}_current
                  - $previous_month.csi_{{ item.field }}_previous
              nps_{{ item.field }}_difference:
                $subtract:
                  - $current_month.nps_{{ item.field }}_current
                  - $previous_month.nps_{{ item.field }}_previous
{% endfor %}
{% for item in departments %}
              csi_{{ item.field }}_difference:
                $subtract:
                  - $current_month.csi_{{ item.field }}_current
                  - $previous_month.csi_{{ item.field }}_previous
              nps_{{ item.field }}_difference:
                $subtract:
                  - $current_month.nps_{{ item.field }}_current
                  - $previous_month.nps_{{ item.field }}_previous
{% endfor %}
            - $fytd
    - $replaceRoot:
        newRoot: $A
