id: {{ page_id }}-data
type: PageHeaderMenu
public: true
properties:
  title: {{ dashboard_name }}
  menu:
    links: []
actions:
  onInit:
    - id: set_cati_projects
      type: SetState
      params:
        month_from:
          _date: 2020-06-01
        month_to:
          _date: 2020-09-01
        pagination:
          pageSize: 10
          skip: 0
        interviews:
          - _id: 0
            Mnt: 
              _date: '2020-09-01T00:00:00.000+0000'
            phone: '0145678763'
            account_number: '876567'
            agent: James Bond
            branch: Stamford
            company: Company B
            interaction_date: 
              _date: '2020-09-02T00:00:00.000+0000'
            email_address: adam@borris.com
            purchase_order_number: HJSD 987 HKJH
            respondent: Adam Borris
            serial_number: 78HJGSDF-DS
            transaction_number: 879HJH980
            transaction_order_number: '6978FDSFD'
            csi: 70
            promoter: Detractor
            promoter_color: '#fb8c00'
            elements_verbatim:
              - name: Time to Order
                score: 5
                verbatim: It took us over two hours. I think that it should take an hour at most.
              - name: Quotation Accuracy
                score: 5
                verbatim: Their prices always keep increasing.
              - name: Ease of Business
                score: 5
                verbatim: The transactions are more and more difficult because the company keep changing our tax numbers. They should keep our records with a specific tax number to make the identification process much easier.
              - name: Recommendation
                score: 3
                verbatim: The Company do not  stick with the deadlines. The last time I went there, they had trouble giving me the parts I was looking for, while their system showed that they had the stock.
              - name: Additional Information
                score: null
                verbatim: The Company should hire competent people who are able to satisfy their customers.
            elements:
              - name: Time to Order
                score: 5
                verbatim: It took us over two hours. I think that it should take an hour at most.
              - name: Communication
                score: 10
                verbatim: null
              - name: Tech Info
                score: 7
                verbatim: null
              - name: Quotation Accuracy
                score: 5
                verbatim: Their prices always keep increasing.
              - name: Follow up
                score: 9
                verbatim: null
              - name: Parts availability
                score: 9
                verbatim: null
              - name: Order completion time
                score: 7
                verbatim: null
              - name: Ease of Business
                score: 5
                verbatim: The transactions are more and more difficult because the company keep changing our tax numbers. They should keep our records with a specific tax number to make the identification process much easier.
              - name: Recommendation
                score: 3
                verbatim: The Company do not  stick with the deadlines. The last time I went there, they had trouble giving me the parts I was looking for, while their system showed that they had the stock.
              - name: Repurchase likelihood
                score: 8
                verbatim: null
              - name: Overall experience
                score: 9
                verbatim: null
              - name: Additional Information
                score: null
                verbatim: The Company should hire competent people who are able to satisfy their customers.
          - _id: 1
            Mnt:
              _date: 2020-09-01
            respondent: Jack Jon
            tel: 09876534567
            company: Company Ltd
            transaction_date:
              _date: 2020-08-11
            transaction_number: HG89833-9898
            po_number: DF90F-SDF9
            agent: Agent X
            branch: Scranton
            promoter: Promoter
            promoter_color: '#43a047'
            csi: 83
            elements_verbatim: []
            elements:
              - name: Time to Order
                score: 9
                verbatim: null
              - name: Communication
                score: 9
                verbatim: null
              - name: Tech Info
                score: 8
                verbatim: null
          - _id: 2
            Mnt:
              _date: 2020-09-01
            respondent: Abe Petersson
            branch: Scranton
            promoter: Indifferent
            promoter_color: '#546e7a'
            csi: 75
            elements_verbatim:
              - name: Communication
                score: 6
                verbatim: Communication was not good. I expected much better.
            elements:
              - name: Time to Order
                score: 9
                verbatim: null
              - name: Communication
                score: 6
                verbatim: Communication was not good. I expected much better.
              - name: Tech Info
                score: 7
                verbatim: null
          - _id: 3
            Mnt:
              _date: 2020-09-01
            respondent: Chom Borderrss
            branch: Stamford
            promoter: Detractor
            promoter_color: '#fb8c00'
            csi: 62
            elements_verbatim:
              - name: Time to Order
                score: 6
                verbatim: The order took ages to process
              - name: Tech Info
                score: 5
                verbatim: Techie was useless
            elements:
              - name: Time to Order
                score: 6
                verbatim: The order took ages to process
              - name: Communication
                score: 7
                verbatim: null
              - name: Tech Info
                score: 5
                verbatim: Techie was useless
          - _id: 4
            Mnt: 
              _date: '2020-08-01T00:00:00.000+0000'
            phone: '0567656734'
            account_number: '970002'
            agent: James Bond
            branch: Scranton
            company: Company F
            interaction_date: 
              _date: '2020-07-02T00:00:00.000+0000'
            email_address: peter@smith.com
            purchase_order_number: HJKSD 988DF
            respondent: Peter Smith
            serial_number: HJHK67-DS
            transaction_number: 4567dsf
            transaction_order_number: 'JHHJK786'
            csi: 44
            promoter: Detractor
            promoter_color: '#fb8c00'
            elements_verbatim:
              - name: Time to Order
                score: 4
                verbatim: WE PLACE ORDERS IF NEED BE BUT THE RECURRENT PROBLEM IS ALWAYS STOCK AVAILABILITY.
              - name: Communication
                score: 6
                verbatim: THE PARTS PERSON SHOULD BE A LITTLE FASTER. SOMETIMES THEY TAKE TWO DAYS OR MORE TO RESPOND TO EMAILS.
              - name: Tech Info
                score: null
                verbatim: null
              - name: Quotation Accuracy
                score: 5
                verbatim: THE COMPANY ARE A BIT TOO EXPENSIVE WHEN THEY HAVE TO IMPORT PARTS.
              - name: Follow up
                score: 5
                verbatim: WHEN IT IS URGENT WE WOULD LIKE THE PARTS PERSON TO GIVE US A FEEDBACK DURING THE COURSE OF THE DAY.
              - name: Parts availability
                score: 4
                verbatim: LAST TIME FOR INSTANCE THEY DID NOT HAVE INJECTOR WIRES FOR ONE ENGINE IN STOCK. IT TOOK THEM TWENTY-ONE DAYS TO GET THEM. WE THINK THAT IT SHOULD NOT TAKE THEM MORE THAN A WEEK.
              - name: Order completion time
                score: 3
                verbatim: IT DEPENDS ON PARTS AVAILABILITY. SOME PARTS ARE AVAILABLE AND OTHERS ARE NOT. WE ALWAYS HAVE TO WAIT TWO OR THREE WEEKS.
              - name: Ease of Business
                score: 3
                verbatim: WE DO NOT HAVE A CREDIT ACCOUNT WITH THE COMPANY. WE ALWAYS HAVE TO GO THROUGH THE BANK AND THAT MAKES SLOWS DOWN THE WHOLE PROCESS. TO MAKE THINGS EASIER, THE COMPANY SHOULD HELP US TO HAVE A CREDIT ACCOUNT WITH THEM.
              - name: Recommendation
                score: 3
                verbatim: THE COMPANY HAVE A SERIOUS PROBLEM WITH REGARDS TO STOCK AVAILABILITY. THIS IS GOING TO BE A PROBLEM FOR ANYONE WE CAN RECOMMEND THE COMPANY TO.
              - name: Repurchase likelihood
                score: 6
                verbatim: WE ALWAYS NEED AND WILL ALWAYS NEED THE COMPANY SERVICES BUT IT WILL ALWAYS BE COMPLICATED AS LONG AS WE DON'T HAVE A CREDIT ACCOUNT WITH THEM.
              - name: Overall experience
                score: 5
                verbatim: THE COMPANY SHOULD IMPROVE ON THEIR STOCK AVAILABILITY.
              - name: Additional Information
                score: null
                verbatim: THE COMPANY DEVRAIT AVOIR DES COLLABORATIONS AVEC NOUSQUI SOMMES SUR SITE POUR SUBVENIR A NOS BESOINS ET DISPONIBILISER LES PIECES. ET AUSSI OUVRIR UN COMPTE CREDIT AVEC NOUS POUR RAPIDITER LES OPERATIONS.
            elements:
              - name: Time to Order
                score: 4
                verbatim: WE PLACE ORDERS IF NEED BE BUT THE RECURRENT PROBLEM IS ALWAYS STOCK AVAILABILITY.
              - name: Communication
                score: 6
                verbatim: THE PARTS PERSON SHOULD BE A LITTLE FASTER. SOMETIMES THEY TAKE TWO DAYS OR MORE TO RESPOND TO EMAILS.
              - name: Tech Info
                score: null
                verbatim: null
              - name: Quotation Accuracy
                score: 5
                verbatim: THE COMPANY ARE A BIT TOO EXPENSIVE WHEN THEY HAVE TO IMPORT PARTS.
              - name: Follow up
                score: 5
                verbatim: WHEN IT IS URGENT WE WOULD LIKE THE PARTS PERSON TO GIVE US A FEEDBACK DURING THE COURSE OF THE DAY.
              - name: Parts availability
                score: 4
                verbatim: LAST TIME FOR INSTANCE THEY DID NOT HAVE INJECTOR WIRES FOR ONE ENGINE IN STOCK. IT TOOK THEM TWENTY-ONE DAYS TO GET THEM. WE THINK THAT IT SHOULD NOT TAKE THEM MORE THAN A WEEK.
              - name: Order completion time
                score: 3
                verbatim: IT DEPENDS ON PARTS AVAILABILITY. SOME PARTS ARE AVAILABLE AND OTHERS ARE NOT. WE ALWAYS HAVE TO WAIT TWO OR THREE WEEKS.
              - name: Ease of Business
                score: 3
                verbatim: WE DO NOT HAVE A CREDIT ACCOUNT WITH THE COMPANY. WE ALWAYS HAVE TO GO THROUGH THE BANK AND THAT MAKES SLOWS DOWN THE WHOLE PROCESS. TO MAKE THINGS EASIER, THE COMPANY SHOULD HELP US TO HAVE A CREDIT ACCOUNT WITH THEM.
              - name: Recommendation
                score: 3
                verbatim: THE COMPANY HAVE A SERIOUS PROBLEM WITH REGARDS TO STOCK AVAILABILITY. THIS IS GOING TO BE A PROBLEM FOR ANYONE WE CAN RECOMMEND THE COMPANY TO.
              - name: Repurchase likelihood
                score: 6
                verbatim: WE ALWAYS NEED AND WILL ALWAYS NEED THE COMPANY SERVICES BUT IT WILL ALWAYS BE COMPLICATED AS LONG AS WE DON'T HAVE A CREDIT ACCOUNT WITH THEM.
              - name: Overall experience
                score: 5
                verbatim: THE COMPANY SHOULD IMPROVE ON THEIR STOCK AVAILABILITY.
              - name: Additional Information
                score: null
                verbatim: THE COMPANY DEVRAIT AVOIR DES COLLABORATIONS AVEC NOUSQUI SOMMES SUR SITE POUR SUBVENIR A NOS BESOINS ET DISPONIBILISER LES PIECES. ET AUSSI OUVRIR UN COMPTE CREDIT AVEC NOUS POUR RAPIDITER LES OPERATIONS.
    # - id: fetch_init
    #   type: Fetch
    #   params: init
    # - id: set_init
    #   type: SetState
    #   params:
    #     _get:
    #       key: '0'
    #       from:
    #         _request: init
blocks:
  - id: interview_details_modal
    type: Modal
    properties:
      title: Interview Details
      footer: false
      width: 1000px
    blocks:
      - id: details_text
        type: Markdown
        properties:
          renderHtml: true
          content:
            _nunjucks:
              template: |
                {% raw %}
                #### Respondent Details
                <b>Name:</b> {{ respondent }} <br/>
                <b>Contact:</b> {{ phone }} <br/>
                <b>Company:</b> {{ company }} <br/>
                <b>Date:</b> {{ interaction_date | date("YYYY-MM-DD") }} <br/>
                <b>Transaction Number:</b> {{ transaction_number }} <br/>
                <b>Serial Number:</b> {{ serial_number }} <br/>
                <b>Agent:</b> {{ agent }} <br/>
                <b>Branch:</b> {{ branch }}

                #### Interview Details
                | Element | Score | Comment |
                |---------|-------|---------|
                {% for item in elements -%}
                | {{ item.name }} | {% if item.score < 7 %} <div style='color: #cf1322;' ><b> {{ item.score }} </b></div> {% elif item.score >= 9 %} <div style='color: #237804;' ><b> {{ item.score }} </b></div> {% else %} {{ item.score }} {% endif %}  | {{ item.verbatim }} |
                {% endfor -%}
                {% endraw %}
              on:
                _state: selected
  - id: interviews_title
    type: Markdown
    properties:
      content: "###### Interviews"
  - id: search_box
    type: Box
    layout:
      flex: 1 1 auto
    blocks:
      - id: search_input
        type: TextInput
        layout:
          flex: 1 1 auto
        properties:
          placeholder: Search
          label:
            disabled: true
        # actions:
        #   onPressEnter:
        #     - id: reset_selected
        #       type: SetState
        #       params:
        #         selected: {}
        #     - id: fetch
        #       type: Fetch
        #       params:
        #         - fetch_interviewss
        #     - id: set_fetched_interviewss
        #       type: SetState
        #       params:
        #         interviews:
        #           _request: fetch_interviewss
      - id: search_button
        type: Button
        layout:
          flex: 1 1 auto
        properties:
          title: Search
          hideTitle: true
          icon: SearchOutlined
          type: default
        # actions:
        #   onClick:
        #     - id: reset_selected
        #       type: SetState
        #       params:
        #         selected: {}
        #     - id: fetch
        #       type: Fetch
        #       params:
        #         - fetch_interviewss
        #     - id: set_fetched_interviewss
        #       type: SetState
        #       params:
        #         interviews:
        #           _request: fetch_interviewss
  - id: search_tags_box
    type: Box
    layout:
      flex: 1 1 auto
      contentGutter: 8
    blocks:
      - id: agent_selector
        type: Selector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: Agent
          options:
            - Agent X
            - James Bond
      - id: branch_selector
        type: Selector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: Branch
          options:
            - Scranton
            - Stamford
      - id: region_selector
        type: Selector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: Region
          options:
            - Near
            - Far
            - Wherever
            - You Are
      - id: month_from
        type: MonthSelector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: Month From
      - id: month_to
        type: MonthSelector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: Month To
  - id: element_selector
    type: CheckboxSelector
    properties:
      label:
        disabled: true
      placeholder: Select Elements
      options:
        - Time to Order
        - Communication
        - Tech Info
        - Follow Up
        - Quotation Accuracy
        - Parts Availability
        - Order Completion Time
        - Ease of Business
        # - Recommendation
        # - Repurchase Likelihood
        # - Overall Experience
        # - Additional Info
  - id: interviews_card
    type: Card
    style:
      marginTop: 4
    blocks:
      - id: interviews
        type: List
        blocks:
          - id: interviews.$.box
            type: Box
            actions:
              onClick:
                - id: set_selected
                  type: SetState
                  params:
                    selected:
                      _state: interviews.$
                - id: open_details_modal
                  type: CallMethod
                  params:
                    blockId: interview_details_modal
                    method: toggleOpen
            #     - id: set_selected_id
            #       type: SetState
            #       params:
            #         selected_id:
            #           _state: interviews.$._id
            #     - id: fetch_selected
            #       type: Fetch
            #       params:
            #         - fetch_selected
            #     - id: set_selected
            #       type: SetState
            #       params:
            #         selected:
            #           _get:
            #             key: '0'
            #             from:
            #               _request: fetch_selected
            blocks:
              - id: interviews.$.header_box
                type: Box
                layout:
                  contentAlign: middle
                  contentGutter: 16
                blocks:
                  - id: interviews.$.respondent
                    type: Html
                    layout:
                      span: 6
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:14px' >
                              <b>{{ respondent }}</b>
                            </font>
                            {% endraw %}
                          on:
                            _state: interviews.$
                  - id: interviews.$.branch
                    type: Html
                    layout:
                      span: 6
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:14px' >
                              <b>{{ branch }}</b>
                            </font>
                            {% endraw %}
                          on:
                            _state: interviews.$
                  - id: interviews.$.promoter
                    type: Html
                    layout:
                      span: 6
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            NPS Status: <font style='font-size:14px; color: {{ promoter_color }};' ><b>{{ promoter }}</b></font>
                            {% endraw %}
                          on:
                            _state: interviews.$
                  - id: csi_box
                    type: Box
                    layout:
                      span: 6
                      contentGutter: 8
                    blocks:
                      - id: csi_label
                        type: Html
                        layout:
                          size: 40
                        properties:
                          html:
                            _nunjucks:
                              template: |
                                {% raw %}
                                <font style='font-size:14px;' >CSI:</font>
                                {% endraw %}
                              on:
                                _state: interviews.$
                      - id: interviews.$.csi
                        type: Progress
                        layout:
                          flex: 2 1 auto
                        properties:
                          showInfo: false
                          status: normal
                          percent:
                            _state: interviews.$.csi
                          strokeColor:
                            _mql_expr:
                              expr:
                                $switch:
                                  branches:
                                    - case:
                                        $gte:
                                          - $csi
                                          - 80
                                      then: '#52c41a'
                                    - case:
                                        $lte:
                                          - $csi
                                          - 65
                                      then: '#f5222d'
                                  default: '#8c8c8c'
                              on:
                                _state: interviews.$
                      - id: interviews.$.csi_score
                        type: Html
                        layout:
                          flex: 0 1 auto
                        properties:
                          html:
                            _nunjucks:
                              template: |
                                {% raw %}
                                <font style='font-size:14px;' ><b>{{ csi }}</b></font>
                                {% endraw %}
                              on:
                                _state: interviews.$
              - id: interviews.$.elements_verbatim
                type: List
                layout:
                  contentGutter: 8
                blocks:
                  - id: interviews.$.elements_verbatim.$.score
                    type: Avatar
                    layout:
                      size: auto
                    properties:
                      size: small
                      content:
                        _state: interviews.$.elements_verbatim.$.score
                      color:
                        _mql_expr:
                          expr:
                            $switch:
                              branches:
                                - case:
                                    $gte:
                                      - $score
                                      - 9
                                  then: '#52c41a'
                                - case:
                                    $lte:
                                      - $score
                                      - 6
                                  then: '#f5222d'
                              default: '#8c8c8c'
                          on:
                            _state: interviews.$.elements_verbatim.$
                  - id: interviews.$.elements_verbatim.$.name
                    type: Html
                    layout:
                      size: auto
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:12px;' ><b>{{ name }}</b></font>
                            {% endraw %}
                          on:
                            _state: interviews.$.elements_verbatim.$
                  - id: interviews.$.elements_verbatim.$.verbatim
                    type: Html
                    layout:
                      size: auto
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:12px;' >{{ verbatim }}</font>
                            {% endraw %}
                          on:
                            _state: interviews.$.elements_verbatim.$
              - id: interviews.$.divider
                type: Divider
                visible:
                  _not:
                    _eq:
                      - _state: interviews.$._id
                      - _mql_expr:
                          $arrayElemAt:
                            - $interviews._id
                            - -1

  - id: box_pagination
    type: Box
    layout:
      contentJustify: end
    blocks:
      - id: pagination
        type: Pagination
        layout:
          size: auto
        properties:
          # showSizeChanger: true
          showTotal: true
          total: 20