id: {{ page_id }}-responses
type: PageHeaderMenu
properties:
  title: {{ dashboard_name }}
  header:
    theme: light
layout:
  contentGutter: 8
events:
  onInit:
    - id: set_departments
      type: SetState
      params:
        division_selector:
          _var: division_selector
        departments:
          _var: departments
        pagination:
          pageSize: 10
          skip: 0
    - id: fetch_init
      type: Request
      params: init
    - id: set_init
      type: SetState
      params:
        _get:
          key: '0'
          from:
            _request: init
    - id: fetch_interviews
      type: Request
      params:
        - totals
        - interviews
    - id: set_interviews
      type: SetState
      params:
        interviews:
          _request: interviews
requests:
  - id: init
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - $match:
            published: true
            department:
              $in:
                _state: departments
        - $group:
            _id: $Mnt
            total:
              $sum: 1
            financial_year:
              $first: $financial_year
{% for item in filter_fields %}
            {{ item.field }}_list:
              $addToSet: 
                $cond:
                  - $eq:
                      - $financial_year
                      - $year:
                          _date: now
                  - ${{ item.field }}
                  - null
{% endfor %}
        - $sort:
            _id: -1
        - $group:
            _id: 0
            total: 
              $sum: $total
            max_financial_year:
              $max: $financial_year
            months:
              $push:
                value: $_id
                label:
                  $dateToString:
                    date: $_id
                    format: '%Y-%m'
{% for item in filter_fields %}
            {{ item.field }}_list:
              $addToSet: ${{ item.field }}_list
{% endfor %}
        - $project:
            _id: 0
            month_to:
              $arrayElemAt:
                - $months.value
                - 0
            month_from:
              $arrayElemAt:
                - $months.value
                - 2
{% for item in filter_fields %}
            {{ item.field }}_list:
              $filter:
                input:
                  $reduce:
                    input: ${{ item.field }}_list
                    initialValue: []
                    in:
                      $setUnion:
                        - $$value
                        - $$this
                cond:
                  $ne:
                    - $$this
                    - null
{% endfor %}

  - id: interviews
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - _if:
            test:
              _eq:
                - _state: search_input
                - null
            then:
              $match: {}
            else:
                $match:
                  $text:
                    $search:
                      _nunjucks: "{% raw %}\"{{ search_input }}\"{% endraw %}"
        - $addFields:
            score:
              _if:
                test:
                  _eq:
                    - _state: search_input
                    - null
                then:
                  null
                else:
                  $meta: textScore
        - $match:
            published: true
            department:
              $in:
                _state: departments
        - $match:
            $expr:
              $and:
                - $gte:
                    - $financial_year
                    - $subtract:
                        - _state: max_financial_year
                        - 3
{% for item in filter_fields %}
                - $cond:
                    - $eq:
                        - _state: {{ item.field }}_selector
                        - null
                    - true
                    - $eq:
                        - ${{ item.field }}
                        - _state: {{ item.field }}_selector
{% endfor %}
                - $cond:
                    - $eq:
                        - _state: month_from
                        - null
                    - true
                    - $gte:
                        - $Mnt
                        - _state: month_from
                - $cond:
                    - $eq:
                        - _state: month_to
                        - null
                    - true
                    - $lte:
                        - $Mnt
                        - _state: month_to
        - $addFields:
            score:
              _if:
                test:
                  _eq:
                    - _state: search_input
                    - null
                then:
                  null
                else:
                  $meta: textScore
            promoter_color:
              $switch:
                branches:
                  - case:
                      $eq:
                        - $promoter
                        - Promoter
                    then: '#237804'
                  - case:
                      $eq:
                        - $promoter
                        - Detractor
                    then: '#cf1322'
                default: '#595959'
            elements:
{% for item in elements %}
              - name: {{ item.name }}
                score: { $ifNull: [ ${{ item.score }}, null ] }
                comment: { $ifNull: [ ${{ item.comment }}, null ] }
{% endfor %}
        - $addFields:
            elements_comment:
              $filter:
                input: $elements
                cond:
                  $and:
                    - $ne:
                        - $$this.comment
                        - null
                    - $cond:
                        - $eq:
                            - _state: elements_selector
                            - []
                        - true
                        - $in:
                            - $$this.name
                            - _state: elements_selector
        - $match:
            $expr:
              $cond:
                - $eq:
                    - _state: elements_selector
                    - []
                - true
                - $gt:
                    - $size:
                        $setIntersection:
                          - _state: elements_selector
                          - $elements_comment.name
                    - 0
        - $sort:
            score: 1
            Mnt: -1
        - $skip:
            _state: pagination.skip
        - $limit:
            _state: pagination.pageSize
  - id: totals
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - _if:
            test:
              _eq:
                - _state: search_input
                - null
            then:
              $match: {}
            else:
                $match:
                  $text:
                    $search:
                      _nunjucks: "{% raw %}\"{{ search_input }}\"{% endraw %}"
        - $match:
            published: true
            department:
              $in:
                _state: departments
        - $match:
            $expr:
              $and:
                - $gte:
                    - $financial_year
                    - $subtract:
                        - _state: max_financial_year
                        - 3
{% for item in filter_fields %}
                - $cond:
                    - $eq:
                        - _state: {{ item.field }}_selector
                        - null
                    - true
                    - $eq:
                        - ${{ item.field }}
                        - _state: {{ item.field }}_selector
{% endfor %}
                - $cond:
                    - $eq:
                        - _state: month_from
                        - null
                    - true
                    - $gte:
                        - $Mnt
                        - _state: month_from
                - $cond:
                    - $eq:
                        - _state: month_to
                        - null
                    - true
                    - $lte:
                        - $Mnt
                        - _state: month_to
        - $project:
            elements:
{% for item in elements %}
              - name: {{ item.name }}
                score: { $ifNull: [ ${{ item.score }}, null ] }
                comment: { $ifNull: [ ${{ item.comment }}, null ] }
{% endfor %}
        - $project:
            elements_comment:
              $filter:
                input: $elements
                cond:
                  $and:
                    - $ne:
                        - $$this.comment
                        - null
                    - $cond:
                        - $eq:
                            - _state: elements_selector
                            - []
                        - true
                        - $in:
                            - $$this.name
                            - _state: elements_selector
        - $match:
            $expr:
              $cond:
                - $eq:
                    - _state: elements_selector
                    - []
                - true
                - $gt:
                    - $size:
                        $setIntersection:
                          - _state: elements_selector
                          - $elements_comment.name
                    - 0
        - $group:
            _id: 0
            total:
              $sum: 1
blocks:
  - id: interview_details_modal
    type: Modal
    layout:
      contentGutter: 16
    properties:
      title: Interview Details
      footer: false
      width: 1000px
    blocks:
      - id: details_respondent
        type: DangerousMarkdown
        layout:
          span: 12
        properties:
          renderHtml: true
          content:
            _var: respondent_details_modal
      - id: details_scores
        type: DangerousMarkdown
        layout:
          span: 12
        properties:
          renderHtml: true
          content:
            _nunjucks:
              template: |
                {% raw %}
                #### Scores
                NPS Status: <span style="color: {{ promoter_color }};" ><b>{{ promoter }}</b></span>
                CSI: {% if csi < 70 %} <span style="color: #cf1322;" ><b>{{ csi | round(1) }}</b></span> {% elif csi >= 90 %}<span style="color: #237804;" ><b>{{ csi | round(1) }}</b></span> {% else %} <b>{{ csi | round(1) }}</b> {% endif %}
                {% endraw %}
              on:
                _state: selected
      - id: details_elements
        type: DangerousMarkdown
        properties:
          content:
            _nunjucks:
              template: |
                {% raw %}
                #### Interview Details
                | Element | Score | Comment |
                |---------|-------|---------|
                {% for item in elements -%}
                | {{ item.name }} | {% if item.score < 7 %} <span style="color: #cf1322;" ><b> {{ item.score }} </b></span> {% elif item.score >= 9 %} <span style="color: #237804;" ><b> {{ item.score }} </b></span> {% else %} {{ item.score }} {% endif %}  | {{ item.comment }} |
                {% endfor -%}
                {% endraw %}
              on:
                _state: selected
  - id: interviews_title
    type: DangerousMarkdown
    loading: 
      type: SkeletonParagraph
      properties:
        lines: 1
    properties:
      content: "###### Interviews"
  - id: search_box
    type: Box
    layout:
      flex: 1 1 auto
    blocks:
      - id: search_input
        type: TextInput
        layout:
          flex: 1 1 auto
        properties:
          placeholder: Search
          label:
            disabled: true
        events:
          onPressEnter:
            - id: fetch_interviews
              type: Request
              messages:
                loading: true
              params:
                - totals
                - interviews
            - id: set_interviews
              type: SetState
              params:
                interviews:
                  _request: interviews
      - id: search_button
        type: Button
        layout:
          flex: 1 1 auto
        properties:
          title: Search
          # hideTitle: true
          icon: SearchOutlined
        events:
          onClick:
            - id: fetch_interviews
              type: Request
              messages:
                loading: true
              params:
                - totals
                - interviews
            - id: set_interviews
              type: SetState
              params:
                interviews:
                  _request: interviews
      - id: clear_button
        type: Button
        layout:
          size: auto
        properties:
          title: Reset
          # hideTitle: true
          icon: ReloadOutlined
          type: default
        events:
          onClick:
            - id: reset
              type: Reset
  - id: search_tags_box
    type: Box
    layout:
      flex: 1 1 auto
      contentGutter: 8
    blocks:
{% for item in filter_fields %}
      - id: {{ item.field }}_selector
        type: Selector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: {{ item.name }}
          showSearch: true
          options:
            _state: {{ item.field }}_list
        events:
          onChange:
            - id: fetch_interviews
              type: Request
              messages:
                loading: true
              params:
                - totals
                - interviews
            - id: set_interviews
              type: SetState
              params:
                interviews:
                  _request: interviews
{% endfor %}
      # - id: region_selector
      #   type: Selector
      #   layout:
      #     flex: 1 1 auto
      #   properties:
      #     label:
      #       disabled: true
      #     placeholder: Region
      #     options:
      #       - Near
      #       - Far
      #       - Wherever
      #       - You Are
      - id: month_from
        type: MonthSelector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: Month From
        events:
          onChange:
            - id: fetch_interviews
              type: Request
              messages:
                loading: true
              params:
                - totals
                - interviews
            - id: set_interviews
              type: SetState
              params:
                interviews:
                  _request: interviews
      - id: month_to
        type: MonthSelector
        layout:
          flex: 1 1 auto
        properties:
          label:
            disabled: true
          placeholder: Month To
        events:
          onChange:
            - id: fetch_interviews
              type: Request
              messages:
                loading: true
              params:
                - totals
                - interviews
            - id: set_interviews
              type: SetState
              params:
                interviews:
                  _request: interviews
  - id: elements_selector
    type: CheckboxSelector
    properties:
      label:
        disabled: true
      placeholder: Select Elements
      options:
        _mql.aggregate:
          on:
            _var: elements
          pipeline:
            - $project:
                value: $name
                label: $name
    events:
      onChange:
        - id: fetch_interviews
          type: Request
          messages:
            loading: true
          params:
            - totals
            - interviews
        - id: set_interviews
          type: SetState
          params:
            interviews:
              _request: interviews
  - id: interviews_card
    type: Card
    style:
      marginTop: 4
    blocks:
      - id: interviews
        type: List
        blocks:
          - id: interviews.$.box
            type: Box
            events:
              onClick:
                - id: set_selected
                  type: SetState
                  params:
                    selected:
                      _state: interviews.$
                - id: open_details_modal
                  type: CallMethod
                  params:
                    blockId: interview_details_modal
                    method: toggleOpen
            blocks:
              - id: interviews.$.header_box
                type: Box
                layout:
                  contentAlign: middle
                  contentGutter: 16
                blocks:
                  - id: interviews.$.Mnt
                    type: Html
                    layout:
                      span: 2
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:14px' >
                              <b>{{ Mnt | date("MMM YYYY") }}</b>
                            </font>
                            {% endraw %}
                          on:
                            _state: interviews.$
                  - id: interviews.$.promoter
                    type: Html
                    layout:
                      span: 2
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:14px; color: {{ promoter_color }};' ><b>{{ promoter }}</b></font>
                            {% endraw %}
                          on:
                            _state: interviews.$
                  - id: csi_box
                    type: Box
                    layout:
                      span: 6
                      contentGutter: [8,0]
                    blocks:
                      - id: csi_label
                        type: Html
                        layout:
                          size: 40
                        properties:
                          html:
                            _nunjucks:
                              template: |
                                {% raw %}
                                <font style='font-size:14px;' >CSI:</font>
                                {% endraw %}
                              on:
                                _state: interviews.$
                      - id: interviews.$.csi
                        type: Progress
                        layout:
                          flex: 2 1 auto
                        properties:
                          showInfo: false
                          status: normal
                          percent:
                            _state: interviews.$.csi
                          strokeColor:
                            _mql.expr:
                              expr:
                                $switch:
                                  branches:
                                    - case:
                                        $gte:
                                          - $csi
                                          - 80
                                      then: '#52c41a'
                                    - case:
                                        $lt:
                                          - $csi
                                          - 70
                                      then: '#f5222d'
                                  default: '#8c8c8c'
                              on:
                                _state: interviews.$
                      - id: interviews.$.csi_score
                        type: Html
                        layout:
                          flex: 0 1 auto
                        properties:
                          html:
                            _nunjucks:
                              template: |
                                {% raw %}
                                <font style='font-size:14px;' ><b>{{ csi | round(1) }}</b></font>
                                {% endraw %}
                              on:
                                _state: interviews.$
                  - id: interviews.$.respondent
                    type: Html
                    layout:
                      flex: 1 1 auto
                    properties:
                      html:
                        _var: respondent_details_list
              - id: interviews.$.elements_comment
                type: List
                layout:
                  contentGutter: [8,0]
                blocks:
                  - id: interviews.$.elements_comment.$.score
                    type: Badge
                    layout:
                      size: auto
                    properties:
                      count:
                        _state: interviews.$.elements_comment.$.score
                  - id: interviews.$.elements_comment.$.name
                    type: Html
                    layout:
                      size: auto
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:12px;' ><b>{{ name }}</b></font>
                            {% endraw %}
                          on:
                            _state: interviews.$.elements_comment.$
                  - id: interviews.$.elements_comment.$.comment
                    type: Html
                    # layout:
                    #   size: auto
                    properties:
                      html:
                        _nunjucks:
                          template: |
                            {% raw %}
                            <font style='font-size:12px;' >{{ comment }}</font>
                            {% endraw %}
                          on:
                            _state: interviews.$.elements_comment.$
              - id: interviews.$.divider
                type: Divider
                visible:
                  _not:
                    _eq:
                      - _state: interviews.$._id
                      - _mql.expr:
                          on:
                            _state: true
                          expr:
                            $arrayElemAt:
                              - $interviews._id
                              - -1

  - id: box_pagination
    type: Box
    layout:
      contentJustify: end
    blocks:
      - id: pagination
        type: Pagination
        layout:
          size: auto
        properties:
          defaultCurrent: 1
          showSizeChanger: true
          pageSizeOptions: [5, 10, 20, 50, 100]
          responsive: true
          total:
            _get:
              key: 0.total
              from:
                _request: totals
        events:
          onShowSizeChange:
            - id: fetch_interviews
              type: Request
              messages:
                loading: true
              params:
                - totals
                - interviews
            - id: scroll_top
              type: ScrollTo
              params:
                top: 0
            - id: set_results
              type: SetState
              params:
                interviews:
                  _request: interviews
          onChange:
            - id: fetch_interviews
              type: Request
              messages:
                loading: true
              params:
                - totals
                - interviews
            - id: scroll_top
              type: ScrollTo
              params:
                top: 0
            - id: set_results
              type: SetState
              params:
                interviews:
                  _request: interviews