id: {{ page_id }}
type: PageHeaderMenu
properties:
  title: {{ dashboard_name }}
  header:
    theme: light
layout:
  contentGutter: 8
requests:
  - id: init
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - $match:
            published: true
            department:
              $in:
                _state: departments
        - $group:
            _id: $Mnt
            financial_year:
              $first: $financial_year
            regions:
              $addToSet: 
                $cond:
                  - $eq:
                      - $financial_year
                      - $year:
                          _date: now
                  - $region
                  - null
        - $sort:
            _id: -1
        - $group:
            _id: 0
            max_financial_year:
              $max: $financial_year
            months:
              $push:
                value: $_id
                label:
                  $dateToString:
                    date: $_id
                    format: '%Y-%m'
            regions:
              $addToSet: $regions
        - $project:
            _id: 0
        - $addFields:
            end_month:
              $arrayElemAt:
                - $months.value
                - 0
            max_month:
              $arrayElemAt:
                - $months.value
                - 0
            start_month:
              $arrayElemAt:
                - $months.value
                - 2
            previous_period_end_month:
              $arrayElemAt:
                - $months.value
                - 3
            previous_period_start_month:
              $arrayElemAt:
                - $months.value
                - 5
            selected_regions:
              $filter:
                input:
                  $reduce:
                    input: $regions
                    initialValue: []
                    in:
                      $setUnion:
                        - $$value
                        - $$this
                cond:
                  $ne:
                    - $$this
                    - null
            regions:
              $arrayElemAt:
                - $filter:
                    input:
                      $reduce:
                        input: $regions
                        initialValue: []
                        in:
                          $setUnion:
                            - $$value
                            - $$this
                    cond:
                      $ne:
                        - $$this
                        - null
                - 1
  - id: update_filter
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - $match:
            published: true
            department:
              $in:
                _state: departments
            Mnt:
              $lte:
                _state: filter_selected_month
        - $group:
            _id: $Mnt
            financial_year:
              $first: $financial_year
        - $sort:
            _id: -1
        - $group:
            _id: 0
            max_financial_year:
              $max: $financial_year
            months:
              $push:
                value: $_id
                label:
                  $dateToString:
                    date: $_id
                    format: '%Y-%m'
        - $project:
            _id: 0
        - $addFields:
            end_month:
              $arrayElemAt:
                - $months.value
                - 0
            max_month:
              $arrayElemAt:
                - $months.value
                - 0
            start_month:
              $arrayElemAt:
                - $months.value
                - 2
            previous_period_end_month:
              $arrayElemAt:
                - $months.value
                - 3
            previous_period_start_month:
              $arrayElemAt:
                - $months.value
                - 5

events:
  onInit:
    - id: set_departments
      type: SetState
      params:
        division_selector:
          _var: division_selector
        departments:
          _var: departments
    - id: fetch_init
      type: Request
      params: init
    - id: set_init
      type: SetState
      params:
        _get:
          key: '0'
          from:
            _request: init
    - id: fetch_all
      type: Request
      params:
        all: true
blocks:
  - id: filter_drawer
    type: Drawer
    layout:
      contentGutter: 8
    properties:
      width: 400px
    blocks:
      - id: filter_selected_month
        type: Selector
        style:
          marginTop: 150px
        properties:
          title: Report Month
          placeholder: Select month
          options:
            _get:
              key: '0.months'
              from:
                _request: init
      - id: filter_apply_button
        type: Button
        properties:
          block: true
          title: Apply
        events:
          onClick:
            - id: fetch_months
              type: Request
              messages:
                loading: true
              params: update_filter
            - id: set_months
              type: SetState
              params:
                _get:
                  key: '0'
                  from:
                    _request: update_filter
            - id: fetch_all
              type: Request
              messages:
                loading: true
            - id: close_filter_drawer
              type: CallMethod
              params:
                blockId: filter_drawer
                method: setOpen
                args:
                  - open: false
  - id: explainer_modal
    type: Modal
    properties:
      title: {{ explainer_title }}
      footer: false
      width: 700px
    blocks:
      - id: questionnaire_text
        type: DangerousMarkdown
        loading: 
          type: SkeletonParagraph
          properties:
            lines: 2
        properties:
          content:
            _var: calculations_explainer
  - id: title_box
    type: Box
    blocks:
      - id: title
        type: Title
        layout:
          grow: 1
          shrink: 1
          size: auto
        properties:
          content: {{ dashboard_name }}
          level: 4
      - id: affix_filter_button
        type: Affix
        layout:
          grow: 0
          shrink: 1
          size: auto
          contentGutter: [8,0]
        properties:
          offsetTop: 16
        blocks:
          - id: explainer_button
            type: Button
            layout:
              grow: 0
              shrink: 1
              size: auto
            properties:
              title: Info
              icon: QuestionCircleOutlined
              shape: round
              type: default
            events:
              onClick:
                - id: open_explainer_modal
                  type: CallMethod
                  params:
                    blockId: explainer_modal
                    method: toggleOpen
          - id: filter_button
            type: Button
            layout:
              grow: 0
              shrink: 1
              size: auto
            properties:
              title: Filter
              icon: FilterOutlined
              shape: round
            events:
              onClick:
                - id: open_filter_drawer
                  type: CallMethod
                  params:
                    blockId: filter_drawer
                    method: toggleOpen

  - id: company_overview_box
    type: Box
    blocks:
      - id: company_overview_title
        type: Title
        layout:
          size: auto
        properties:
          content: Company
          level: 4
      - id: company_overview_card
        type: Card
        layout:
          contentGutter: [8,0]
        properties:
          size: small
          inner: true
        blocks:
          - _ref:
              path: templates/components/overview_composite.yaml.njk
              vars:
                id: company
                connectionId: {{ connectionId }}
                division: company
                chart_height: 70
                current_csi_title: 
                  _nunjucks: | 
                    {% raw %}CSI {{ end_month | date("MMM YYYY") }} {% endraw %}
                current_nps_title: 
                  _nunjucks: | 
                    {% raw %}NPS {{ end_month | date("MMM YYYY") }} {% endraw %}
                color: "#002766"
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields

  - id: divisions_overview_box
    type: Box
    blocks:
      - id: divisions_overview_title
        type: Title
        layout:
          size: auto
        properties:
          content: Divisions
          level: 4
      - id: divisions_overview_card
        type: Card
        layout:
          contentGutter: [8,0]
        properties:
          size: small
          inner: true
        blocks:
{% for item in divisions_fields %}
          - _ref:
              path: templates/components/overview_composite.yaml.njk
              vars:
                id: {{ item.field }}
                connectionId:
                  _var: connectionId
                division: {{ item.field }}
                current_csi_title: CSI {{ item.name }}
                current_nps_title: NPS {{ item.name }}
                color: "#002766"
                current_score_size: 35
                fytd_score_size: 28
                chart_height: 85
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields
{% if not loop.last %}
          - id: divider_divisions
            type: Divider
{% endif %}
{% endfor %}

  - id: departments_overview_box
    type: Box
    blocks:
      - id: departments_overview_title
        type: Title
        layout:
          size: auto
        properties:
          content: Departments
          level: 4
      - id: departments_overview_card
        type: Card
        layout:
          contentGutter: [8,0]
        properties:
          size: small
          inner: true
        blocks:
{% for item in departments_fields %}
          - _ref:
              path: templates/components/overview_composite.yaml.njk
              vars:
                id: {{ item.field }}
                connectionId:
                  _var: connectionId
                division: {{ item.field }}
                current_csi_title: CSI {{ item.name }}
                current_nps_title: NPS {{ item.name }}
                color: "#002766"
                current_score_size: 30
                fytd_score_size: 24
                chart_height: 80
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields
{% if not loop.last %}
          - id: departments_divisions
            type: Divider
{% endif %}
{% endfor %}

  - id: yoy_box
    type: Box
    blocks:
      - id: csi_yoy_title
        type: Title
        layout:
          span: 12
          # grow: 1
          # shrink: 1
          # size: auto
        properties:
          content: CSI Year on Year
          level: 4
      - id: nps_yoy_title
        type: Title
        layout:
          span: 12
          # grow: 0
          # shrink: 1
          # size: auto
        properties:
          content: NPS Year on Year
          level: 4
      - id: yoy_card
        type: Card
        properties:
          size: small
          inner: true
        blocks:
          - _ref:
              path: templates/components/overview_composite_year_on_year_microcharts_selector.yaml.njk
              vars:
                id: yoy_overview
                connectionId: {{ connectionId }}
                chart_height: 300
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields
                divisions_options:
                  _mql.expr:
                    on:
                      _state: true
                    expr:
                      $concatArrays:
                        - - Company
                        - $map:
                            input:
                              _var: divisions_fields
                            in:
                              $$this.name
                        - _var: departments
                    

  - id: divisions_overview_csi_box
    type: Box
    layout:
      span: 12
    blocks:
      - id: divisions_overview_csi_title
        type: Title
        properties:
          content: CSI by level of analysis
          level: 4
      - id: divisions_overview_csi_card
        type: Card
        properties:
          size: small
          inner: true
        blocks:
          - _ref:
              path: templates/components/overview_csi_divisions_chart.yaml.njk
              vars:
                id: divisions_overview_csi
                connectionId: {{ connectionId }}
                height: 400
                colors:
                  _global: colors.elements
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields

  - id: divisions_overview_nps_box
    type: Box
    layout:
      span: 12
    blocks:
      - id: divisions_overview_nps_title
        type: Title
        properties:
          content: NPS by level of analysis
          level: 4
      - id: divisions_overview_nps_card
        type: Card
        properties:
          size: small
          inner: true
        blocks:
          - _ref:
              path: templates/components/overview_nps_divisions_chart.yaml.njk
              vars:
                id: divisions_overview_nps
                connectionId: {{ connectionId }}
                height: 400
                colors:
                  _global: colors.elements
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields

  - id: divisions_quarterly_csi_box
    type: Box
    layout:
      span: 12
    blocks:
      - id: divisions_quarterly_csi_title
        type: Title
        properties:
          content: CSI by quarter
          level: 4
      - id: divisions_quarterly_csi_card
        type: Card
        properties:
          size: small
          inner: true
        blocks:
          - _ref:
              path: templates/components/division_quarters_table.yaml.njk
              vars:
                id: divisions_quarterly_csi
                connectionId: {{ connectionId }}
                division: csi
                height: 450
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields
  - id: divisions_quarterly_nps_box
    type: Box
    layout:
      span: 12
    blocks:
      - id: divisions_quarterly_nps_title
        type: Title
        properties:
          content: NPS by quarter
          level: 4
      - id: divisions_quarterly_nps_card
        type: Card
        properties:
          size: small
          inner: true
        blocks:
          - _ref:
              path: templates/components/division_quarters_table.yaml.njk
              vars:
                id: divisions_quarterly_nps
                connectionId: {{ connectionId }}
                division: nps
                height: 450
                departments:
                  _var: departments_fields
                divisions:
                  _var: divisions_fields