## -----------------
## 
## division_quarters_table.yaml
## Calculate indices and trend table.
## 
## vars:
##   id: _string_ - id for the component.
##   connectionId: _string_ - MongoDB collection connection id.
##   index: _string_ - index to show results for. [csi,nps]
## ------------------

id: {{ id }}
type: Box
layout:
  contentJustify: center
  span:
    _var:
      name: span
      default: 24
requests:
  - id: division_quarters_table_{{ id }}
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - $match:
            published: true
            department:
              $in:
                _state: departments
        - $match:
            $expr:
              $and:
                - $gte:
                    - $Mnt
                    - $dateFromParts:
                        year:
                          $subtract:
                            - _state: max_financial_year
                            - 1
                        month: 1
                        day: 1
                - $lte:
                    - $Mnt
                    - _state: end_month
        - $addFields:
            period:
              $cond:
                - $lt:
                    - $year: $Mnt
                    - 2020
                - previous
                - current
            quarter:
              $switch:
                branches:
                  - case:
                      $lte:
                        - $month: $Mnt
                        - 3
                    then: q1
                  - case:
                      $lte:
                        - $month: $Mnt
                        - 6
                    then: q2
                  - case:
                      $lte:
                        - $month: $Mnt
                        - 9
                    then: q3
                default: q4
        - $facet:
            quarters:
              - $group:
                  _id:
                    period: $period
                    quarter: $quarter
                  company_csi:
                    $avg: $csi
                  company_promoters:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  company_detractors:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  company_nps_sample:
                    $sum:
                      $cond:
                        - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% for item in departments %}
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
              - $addFields:
                  quarter: $_id.quarter
                  period: $_id.period
                  company_nps:
                    $cond:
                      - $eq:
                          - $company_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - $company_promoters
                                  - $company_detractors
                              - $company_nps_sample
                          - 100
{% for item in departments %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
              - $group:
                  _id: 0
                  company_csi:
                    $push:
                      k:
                        $concat:
                          - csi_
                          - $period
                          - _
                          - $quarter
                      v: $company_csi
                  company_nps:
                    $push:
                      k:
                        $concat:
                          - nps_
                          - $period
                          - _
                          - $quarter
                      v: $company_nps
{% for item in divisions %}
                  {{ item.field }}_csi:
                    $push:
                      k:
                        $concat:
                          - csi_
                          - $period
                          - _
                          - $quarter
                      v: ${{ item.field }}_csi
                  {{ item.field }}_nps:
                    $push:
                      k:
                        $concat:
                          - nps_
                          - $period
                          - _
                          - $quarter
                      v: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
                  {{ item.field }}_csi:
                    $push:
                      k:
                        $concat:
                          - csi_
                          - $period
                          - _
                          - $quarter
                      v: ${{ item.field }}_csi
                  {{ item.field }}_nps:
                    $push:
                      k:
                        $concat:
                          - nps_
                          - $period
                          - _
                          - $quarter
                      v: ${{ item.field }}_nps
{% endfor %}
              - $project:
                  _id: 0
                  divisions:
                    - name: Company
                      csi: $company_csi
                      nps: $company_nps
{% for item in divisions %}
                    - name: {{ item.name }}
                      csi: ${{ item.field }}_csi
                      nps: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
                    - name: {{ item.name }}
                      csi: ${{ item.field }}_csi
                      nps: ${{ item.field }}_nps
{% endfor %}
              - $unwind:
                  path: $divisions
              - $replaceRoot:
                  newRoot:
                    $arrayToObject:
                      $concatArrays:
                        - - k: division
                            v: $divisions.name
                        - $divisions.csi
                        - $divisions.nps
            years:
              - $group:
                  _id: $period
                  company_csi:
                    $avg: $csi
                  company_promoters:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  company_detractors:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  company_nps_sample:
                    $sum:
                      $cond:
                        - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% for item in departments %}
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
              - $addFields:
                  period: $_id
                  company_nps:
                    $cond:
                      - $eq:
                          - $company_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - $company_promoters
                                  - $company_detractors
                              - $company_nps_sample
                          - 100
{% for item in departments %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
              - $group:
                  _id: 0
                  company_csi:
                    $push:
                      k:
                        $concat:
                          - csi_
                          - $period
                          - _year
                      v: $company_csi
                  company_nps:
                    $push:
                      k:
                        $concat:
                          - nps_
                          - $period
                          - _year
                      v: $company_nps
{% for item in divisions %}
                  {{ item.field }}_csi:
                    $push:
                      k:
                        $concat:
                          - csi_
                          - $period
                          - _year
                      v: ${{ item.field }}_csi
                  {{ item.field }}_nps:
                    $push:
                      k:
                        $concat:
                          - nps_
                          - $period
                          - _year
                      v: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
                  {{ item.field }}_csi:
                    $push:
                      k:
                        $concat:
                          - csi_
                          - $period
                          - _year
                      v: ${{ item.field }}_csi
                  {{ item.field }}_nps:
                    $push:
                      k:
                        $concat:
                          - nps_
                          - $period
                          - _year
                      v: ${{ item.field }}_nps
{% endfor %}
              - $project:
                  _id: 0
                  divisions:
                    - name: Company
                      csi: $company_csi
                      nps: $company_nps
{% for item in divisions %}
                    - name: {{ item.name }}
                      csi: ${{ item.field }}_csi
                      nps: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
                    - name: {{ item.name }}
                      csi: ${{ item.field }}_csi
                      nps: ${{ item.field }}_nps
{% endfor %}
              - $unwind:
                  path: $divisions
              - $replaceRoot:
                  newRoot:
                    $arrayToObject:
                      $concatArrays:
                        - - k: division
                            v: $divisions.name
                        - $divisions.csi
                        - $divisions.nps
        - $unwind:
            path: $quarters
        - $addFields:
            years:
              $filter:
                input: $years
                cond:
                  $eq:
                    - $$this.division
                    - $quarters.division
        - $unwind:
            path: $years
        - $addFields:
            quarters.csi_current_year: $years.csi_current_year
            quarters.csi_previous_year: $years.csi_previous_year
            quarters.nps_current_year: $years.nps_current_year
            quarters.nps_previous_year: $years.nps_previous_year
        - $replaceRoot:
            newRoot: $quarters
        - $addFields:
            csi_current_q1:
              $round:
                - $csi_current_q1
                - 1
            csi_current_q2:
              $round:
                - $csi_current_q2
                - 1
            csi_current_q3:
              $round:
                - $csi_current_q3
                - 1
            csi_current_q4:
              $round:
                - $csi_current_q4
                - 1
            csi_current_year:
              $round:
                - $csi_current_year
                - 1
            csi_previous_q1:
              $round:
                - $csi_previous_q1
                - 1
            csi_previous_q2:
              $round:
                - $csi_previous_q2
                - 1
            csi_previous_q3:
              $round:
                - $csi_previous_q3
                - 1
            csi_previous_q4:
              $round:
                - $csi_previous_q4
                - 1
            csi_previous_year:
              $round:
                - $csi_previous_year
                - 1
            nps_current_q1:
              $round:
                - $nps_current_q1
                - 1
            nps_current_q2:
              $round:
                - $nps_current_q2
                - 1
            nps_current_q3:
              $round:
                - $nps_current_q3
                - 1
            nps_current_q4:
              $round:
                - $nps_current_q4
                - 1
            nps_current_year:
              $round:
                - $nps_current_year
                - 1
            nps_previous_q1:
              $round:
                - $nps_previous_q1
                - 1
            nps_previous_q2:
              $round:
                - $nps_previous_q2
                - 1
            nps_previous_q3:
              $round:
                - $nps_previous_q3
                - 1
            nps_previous_q4:
              $round:
                - $nps_previous_q4
                - 1
            nps_previous_year:
              $round:
                - $nps_previous_year
                - 1

blocks:
  - id: divisions_quarter_table_{{ id }}
    type: AgGrid
    layout:
      size: 1100
    properties:
      theme: basic
      height:
        _var: height
      rowData:
        _request: division_quarters_table_{{ id }}
      defaultColDef:
        width: 75
      columnDefs:
        - headerName: ""
          cellStyle:
            textAlign: center
          children:
            - headerName: Division
              field: division
              width: 140
              pinned: left
              resizable: true
        - headerName: 2019
          cellStyle:
            textAlign: center
          children:
            - headerName: Q1
              field: {{ division }}_previous_q1
            - headerName: Q2
              field: {{ division }}_previous_q2
            - headerName: Q3
              field: {{ division }}_previous_q3
            - headerName: Q4
              field: {{ division }}_previous_q4
            - headerName: Full Year
              field: {{ division }}_previous_year
              width: 100
        - headerName: 2020
          children:
            - headerName: Q1
              field: {{ division }}_current_q1
            - headerName: Q2
              field: {{ division }}_current_q2
            - headerName: Q3
              field: {{ division }}_current_q3
            - headerName: Q4
              field: {{ division }}_current_q4
            - headerName: YtD
              field: {{ division }}_current_year
  # - id: divisions_quarter_table_{{ id }}
  #   type: Markdown
  #   style:
  #       '.markdown-body':
  #         fontSize: 14px
  #   properties:
  #     renderHtml: true
  #     content:
  #       _nunjucks:
  #         template: |
  #           {% raw %}
  #           | {{ division }} | Diff (%) | {{ current_month | date('MMM YYYY') }}|  3 Month | 6 Month | FYtD |
  #           |-------|:-----:|:-----:|:-----:|:-----:|:-----:|
  #           {% for index in data -%}
  #           | {{ index.name }} | {% if index.change < -3 %} <div style='color: #cf1322; font-size: 12px;' > <b>{{ index.change | round(1) }} </b></div> {% elif index.change > 3 %} <div style='color: #237804; font-size: 12px;' ><b> +{{ index.change | round(1) }} </b></div> {% else %} <div style='font-size: 12px;' >{{ index.change | round(1) }}</div> {% endif %} |{% for score in [index.current, index.3month, index.6month, index.fytd] %}{% if score < 7.5 %} <div style='color: #cf1322;' ><b> {{ score | round(1) }} </b></div> {% elif score >= 9 %} <div style='color: #237804;' ><b> {{ score | round(1) }} </b></div> {% else %} {{ score | round(1) }} {% endif %} |{% endfor %}
  #           {% endfor -%}
  #           {% endraw %}
  #         on:
  #           data:
  #             _get:
  #               key: '0.A'
  #               from:
  #                 _request: division_quarters_table_{{ id }}