## -----------------
## 
## nps_category_chart
## Calculate nps by category. Show percent promoter status and nps for each category.
## 
## vars:
##   id: _string_ - id for the component.
##   connectionId: _string_ - MongoDB collection connection id.
##   category: _string_ - The category to group by.
## ------------------

id: nps_category_chart_{{ id }}
type: AmCharts4XY
requests:
  - id: nps_category_aggregation_{{ id }}
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - $match:
            $and:
              - published: true
              - cati_project:
                  $in:
                    _state: cati_projects
              - Mnt:
                  $gte:
                    _state: start_month
              - Mnt:
                  $lte:
                    _state: end_month
        - $group:
            _id: ${{ category }}
            promoters:
              $sum:
                $cond:
                  - $eq:
                      - $promoter
                      - Promoter
                  - 1
                  - 0
            indifferent:
              $sum:
                $cond:
                  - $eq:
                      - $promoter
                      - Indifferent
                  - 1
                  - 0
            detractors:
              $sum:
                $cond:
                  - $eq:
                      - $promoter
                      - Detractor
                  - 1
                  - 0
            count_nps:
              $sum:
                $cond:
                  - $ne:
                      - $promoter
                      - null
                  - 1
                  - 0
        - $addFields:
            percent_promoters:
              $multiply:
                - $divide:
                    - $promoters
                    - $count_nps
                - 100
            percent_indifferent:
              $multiply:
                - $divide:
                    - $indifferent
                    - $count_nps
                - 100
            percent_detractors:
              $multiply:
                - $divide:
                    - $detractors
                    - $count_nps
                - 100
            nps:
              $multiply:
                - $divide:
                    - $subtract:
                        - $promoters
                        - $detractors
                    - $count_nps
                - 100
        - $match:
            _id:
              $ne: null
        - $sort:
            nps: -1
properties:
  data:
    _var:
      name: chart_data
      default:
        _request: nps_category_aggregation_{{ id }}
  numberFormatter:
    numberFormat: "#.#"
  legend:
    type: Legend
    useDefaultMarker: true
    markers:
      width: 15
      height: 15
      children:
        fillOpacity: 0.5
    fontSize: 12
  cursor:
    type: XYCursor
    xAxis: category
    fullWidthLineX: true
    lineX:
      fill: #607d8b
      fillOpacity: 0.1
    lineY:
      disabled: true
  xAxes:
    - type: CategoryAxis
      id: category
      cursorTooltipEnabled: false
      dataFields:
        category: _id
      renderer:
        minGridDistance: 20
        grid:
          location: 0
        labels:
          contentAlign: right
          rotation: -60
          fontSize: 12
          verticalCenter: middle
          horizontalCenter: right
  yAxes:
    - type: ValueAxis
      id: percent
      title:
        text: Percent
        fontSize: 12
      renderer:
        minGridDistance: 20
        labels:
          fontSize: 12
      cursorTooltipEnabled: false
      min: 0
      max: 100
    - type: ValueAxis
      id: nps
      syncWithAxis: percent
      title:
        text: NPS
        fontSize: 12
      renderer:
        opposite: true
        minGridDistance: 20
        labels:
          fontSize: 12
      cursorTooltipEnabled: false
      min: -100
      max: 100
  series:
    - type: ColumnSeries
      name: Detractors
      yAxis: percent
      stacked: true
      clustered: false
      fill:
        _global: colors.nps.detractor
      stroke:
        _global: colors.nps.detractor
      fillOpacity: 0.5
      dataFields:
        categoryX: _id
        valueY: percent_detractors
        count: detractors
      columns:
        tooltipText: 'Detractors: {valueY}% ({count})'
    - type: ColumnSeries
      name: Indifferent
      yAxis: percent
      stacked: true
      clustered: false
      fill:
        _global: colors.nps.indifferent
      stroke:
        _global: colors.nps.indifferent
      fillOpacity: 0.5
      dataFields:
        categoryX: _id
        valueY: percent_indifferent
        count: indifferent
      columns:
        tooltipText: 'Indifferent: {valueY}% ({count})'
    - type: ColumnSeries
      name: Promoters
      yAxis: percent
      stacked: true
      clustered: false
      fill:
        _global: colors.nps.promoter
      stroke:
        _global: colors.nps.promoter
      fillOpacity: 0.5
      dataFields:
        categoryX: _id
        valueY: percent_promoters
        count: promoters
      columns:
        tooltipText: 'Promoters: {valueY}% ({count})'
    - type: ColumnSeries
      name: NPS
      yAxis: nps
      clustered: false
      stroke:
        _global: colors.nps.nps
      fill:
        _global: colors.nps.nps
      fillOpacity: 1
      dataFields:
        categoryX: _id
        valueY: nps
      columns:
        strokeWidth: 0
        fillOpacity: 0
      bullets:
        - type: Bullet
          width: 100%
          children:
            - type: Rectangle
              width: 100%
              height: 3
              horizontalCenter: middle
              verticalCenter: middle
              stroke:
                _global: colors.nps.nps
              fill:
                _global: colors.nps.nps
        - type: LabelBullet
          label:
            text: "{valueY}"
            dy: -10
            fontSize: 10
