## -----------------
## 
## overview_csi_trend_microchart
## Calculate csi and render trend micro timeline chart.
## 
## vars:
##   id: _string_ - id for the component.
##   connectionId: _string_ - MongoDB collection connection id.
##   division: _integer_ (REQUIRED) - which division to show. [company,sales,after_sales,parts,service]_[company,sales,after_sales,parts,service]
##   month_average: _number_ - number of months over which to calculate the rolling average.
##   height: _number_ - height of the timeline chart.
##   color: _string_ - color of the timeline chart.
## ------------------

id: {{ id }}
type: EChart
style:
  height:
    _var: height
layout:
  flex:
    _var:
      name: flex
      default: null
  span:
    _var:
      name: span
      default: 24
  sm:
    size: auto
loading:
  type: Skeleton
  properties: 
    height: 
      _var: height
properties:
  init:
    height: 
      _var: height
  option:
    color:
      - _var: color
    grid:
      left: 0
      top: 0
      right: 0
      bottom: 20
    dataset:
      source:
        _if_none:
          - _request: csi_trend
          - []
    tooltip:
      trigger: axis
      axisPointer: 
        type: cross
    xAxis: 
      type: time
      show: false
      axisPointer: 
        type: line
        snap: true
    yAxis: 
      type: value
      show: false
      min: dataMin
      axisPointer: 
        show: false
    series:
      - name: CSI
        type: line
        areaStyle:
          opacity: 0.3
        symbol: none
        smooth: true
        encode:
          x: month
          y: csi_{{ division }}
