## -----------------
## 
## overview_nps_trend_microchart
## Calculate csi and render trend micro timeline chart.
## 
## vars:
##   id: _string_ - id for the component.
##   connectionId: _string_ - MongoDB collection connection id.
##   division: _integer_ (REQUIRED) - which division to show. [company,sales,after_sales,parts,service]_[company,sales,after_sales,parts,service]
##   month_average: _number_ - number of months over which to calculate the rolling average.
##   height: _number_ - height of the timeline chart.
## ------------------

id: {{ id }}
type: AmChartsXY
layout:
  flex:
    _var:
      name: flex
      default: null
  span:
    _var:
      name: span
      default: 24
  sm:
    size: auto
requests:
  - id: nps_trend_{{ id }}
    type: MongoDBAggregation
    connectionId:
      _var: connectionId
    properties:
      pipeline:
        - $match:
            published: true
            department:
              $in:
                _state: departments
        - $match:
            $expr:
              $and:
                - $lte:
                    - $Mnt
                    - _state: end_month
                - $gte:
                    - $Mnt
                    - $dateFromParts:
                        year:
                          $year:
                            _state: end_month
                        month:
                          $subtract:
                            - $month:
                                _state: end_month
                            - $add:
                                - 23
                                - _var: month_average
        - $group:
            _id: $Mnt
            company_promoters:
              $sum:
                $cond:
                  - $eq:
                      - $promoter
                      - Promoter
                  - 1
                  - 0
            company_detractors:
              $sum:
                $cond:
                  - $eq:
                      - $promoter
                      - Detractor
                  - 1
                  - 0
            company_nps_sample:
              $sum:
                $cond:
                  - $ne:
                      - $promoter
                      - null
                  - 1
                  - 0
{% for item in departments %}
            {{ item.field }}_promoters:
              $sum:
                $cond:
                  - $and:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $eq:
                      - $promoter
                      - Promoter
                  - 1
                  - 0
            {{ item.field }}_detractors:
              $sum:
                $cond:
                  - $and:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $eq:
                      - $promoter
                      - Detractor
                  - 1
                  - 0
            {{ item.field }}_nps_sample:
              $sum:
                $cond:
                  - $and:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $ne:
                      - $promoter
                      - null
                  - 1
                  - 0
{% endfor %}
{% for item in divisions %}
            {{ item.field }}_promoters:
              $sum:
                $cond:
                  - $and:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $eq:
                      - $promoter
                      - Promoter
                  - 1
                  - 0
            {{ item.field }}_detractors:
              $sum:
                $cond:
                  - $and:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $eq:
                      - $promoter
                      - Detractor
                  - 1
                  - 0
            {{ item.field }}_nps_sample:
              $sum:
                $cond:
                  - $and:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $ne:
                      - $promoter
                      - null
                  - 1
                  - 0
{% endfor %}
        - $addFields:
            company_nps:
              $cond:
                - $eq:
                    - $company_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $company_promoters
                            - $company_detractors
                        - $company_nps_sample
                    - 100
            company_percent_promoters:
              $cond:
                - $eq:
                    - $company_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $company_promoters
                        - $company_nps_sample
                    - 100
            company_percent_detractors:
              $cond:
                - $eq:
                    - $company_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $company_detractors
                        - $company_nps_sample
                    - 100
{% for item in divisions %}
            {{ item.field }}_nps:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - ${{ item.field }}_promoters
                            - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_promoters:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_promoters
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_detractors:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
{% endfor %}
{% for item in departments %}
            {{ item.field }}_nps:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - ${{ item.field }}_promoters
                            - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_promoters:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_promoters
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_detractors:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
{% endfor %}
        - $sort:
            _id: 1
        - $group:
            _id: 0
            A:
              $push:
                month: $_id

                company_nps: $company_nps
                company_nps_sample: $company_nps_sample
                company_promoters: $company_promoters
                company_detractors: $company_detractors
                company_percent_promoters: $company_percent_promoters
                company_percent_detractors: $company_percent_detractors

{% for item in divisions %}
                {{ item.field }}_nps: ${{ item.field }}_nps
                {{ item.field }}_nps_sample: ${{ item.field }}_nps_sample
                {{ item.field }}_promoters: ${{ item.field }}_promoters
                {{ item.field }}_detractors: ${{ item.field }}_detractors
                {{ item.field }}_percent_promoters: ${{ item.field }}_percent_promoters
                {{ item.field }}_percent_detractors: ${{ item.field }}_percent_detractors
{% endfor %}

{% for item in departments %}
                {{ item.field }}_nps: ${{ item.field }}_nps
                {{ item.field }}_nps_sample: ${{ item.field }}_nps_sample
                {{ item.field }}_promoters: ${{ item.field }}_promoters
                {{ item.field }}_detractors: ${{ item.field }}_detractors
                {{ item.field }}_percent_promoters: ${{ item.field }}_percent_promoters
                {{ item.field }}_percent_detractors: ${{ item.field }}_percent_detractors
{% endfor %}
        - $project:
            A:
              $map:
                input:
                  $range:
                    - 0
                    - $subtract:
                        - $size: $A
                        - $subtract:
                            - _var: month_average
                            - 1
                in:
                  month:
                    $arrayElemAt:
                      - $A.month
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1

                  company_nps_current:
                    $arrayElemAt:
                      - $A.company_nps
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  company_percent_promoters_current:
                    $arrayElemAt:
                      - $A.company_percent_promoters
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  company_percent_detractors_current:
                    $arrayElemAt:
                      - $A.company_percent_detractors
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  company_nps_sample:
                    $sum:
                      $slice:
                        - $A.company_nps_sample
                        - $$this
                        - _var: month_average
                  company_promoters:
                    $sum:
                      $slice:
                        - $A.company_promoters
                        - $$this
                        - _var: month_average
                  company_detractors:
                    $sum:
                      $slice:
                        - $A.company_detractors
                        - $$this
                        - _var: month_average

{% for item in divisions %}
                  {{ item.field }}_nps_current:
                    $arrayElemAt:
                      - $A.{{ item.field }}_nps
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  {{ item.field }}_percent_promoters_current:
                    $arrayElemAt:
                      - $A.{{ item.field }}_percent_promoters
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  {{ item.field }}_percent_detractors_current:
                    $arrayElemAt:
                      - $A.{{ item.field }}_percent_detractors
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  {{ item.field }}_nps_sample:
                    $sum:
                      $slice:
                        - $A.{{ item.field }}_nps_sample
                        - $$this
                        - _var: month_average
                  {{ item.field }}_promoters:
                    $sum:
                      $slice:
                        - $A.{{ item.field }}_promoters
                        - $$this
                        - _var: month_average
                  {{ item.field }}_detractors:
                    $sum:
                      $slice:
                        - $A.{{ item.field }}_detractors
                        - $$this
                        - _var: month_average
{% endfor %}

{% for item in departments %}
                  {{ item.field }}_nps_current:
                    $arrayElemAt:
                      - $A.{{ item.field }}_nps
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  {{ item.field }}_percent_promoters_current:
                    $arrayElemAt:
                      - $A.{{ item.field }}_percent_promoters
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  {{ item.field }}_percent_detractors_current:
                    $arrayElemAt:
                      - $A.{{ item.field }}_percent_detractors
                      - $sum:
                          - $$this
                          - $subtract:
                              - _var: month_average
                              - 1
                  {{ item.field }}_nps_sample:
                    $sum:
                      $slice:
                        - $A.{{ item.field }}_nps_sample
                        - $$this
                        - _var: month_average
                  {{ item.field }}_promoters:
                    $sum:
                      $slice:
                        - $A.{{ item.field }}_promoters
                        - $$this
                        - _var: month_average
                  {{ item.field }}_detractors:
                    $sum:
                      $slice:
                        - $A.{{ item.field }}_detractors
                        - $$this
                        - _var: month_average
{% endfor %}
        - $unwind:
            path: $A
        - $replaceRoot:
            newRoot: $A
        - $addFields:
            company_nps:
              $cond:
                - $eq:
                    - $company_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $company_promoters
                            - $company_detractors
                        - $company_nps_sample
                    - 100
            company_percent_promoters:
              $cond:
                - $eq:
                    - $company_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $company_promoters
                        - $company_nps_sample
                    - 100
            company_percent_detractors:
              $cond:
                - $eq:
                    - $company_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $company_detractors
                        - $company_nps_sample
                    - 100
{% for item in divisions %}
            {{ item.field }}_nps:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - ${{ item.field }}_promoters
                            - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_promoters:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_promoters
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_detractors:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
{% endfor %}
{% for item in departments %}
            {{ item.field }}_nps:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - ${{ item.field }}_promoters
                            - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_promoters:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_promoters
                        - ${{ item.field }}_nps_sample
                    - 100
            {{ item.field }}_percent_detractors:
              $cond:
                - $eq:
                    - ${{ item.field }}_nps_sample
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - ${{ item.field }}_detractors
                        - ${{ item.field }}_nps_sample
                    - 100
{% endfor %}
        - $project:
            month: 1
            nps_company: $company_nps
            percent_promoters_company: $company_percent_promoters
            percent_detractors_company: $company_percent_detractors
            nps_company_current: $company_nps_current
            percent_promoters_company_current: $company_percent_promoters_current
            percent_detractors_company_current: $company_percent_detractors_current
{% for item in divisions %}
            nps_{{ item.field }}: ${{ item.field }}_nps
            percent_promoters_{{ item.field }}: ${{ item.field }}_percent_promoters
            percent_detractors_{{ item.field }}: ${{ item.field }}_percent_detractors
            nps_{{ item.field }}_current: ${{ item.field }}_nps_current
            percent_promoters_{{ item.field }}_current: ${{ item.field }}_percent_promoters_current
            percent_detractors_{{ item.field }}_current: ${{ item.field }}_percent_detractors_current
{% endfor %}
{% for item in departments %}
            nps_{{ item.field }}: ${{ item.field }}_nps
            percent_promoters_{{ item.field }}: ${{ item.field }}_percent_promoters
            percent_detractors_{{ item.field }}: ${{ item.field }}_percent_detractors
            nps_{{ item.field }}_current: ${{ item.field }}_nps_current
            percent_promoters_{{ item.field }}_current: ${{ item.field }}_percent_promoters_current
            percent_detractors_{{ item.field }}_current: ${{ item.field }}_percent_detractors_current
{% endfor %}

properties:
  data:
    _request: nps_trend_{{ id }}
  height: 
    _var: height
  paddingTop: 0
  paddingRight: 0
  paddingBottom: 0
  paddingLeft: 0
  marginLeft: 20
  marginRight: 20
  numberFormatter:
    numberFormat: "#.#"
  colors:
    list:
      - _global: colors.nps.promoter
      - _global: colors.nps.detractor
      - _global: colors.nps.nps
  dateFormatter: 
    dateFormat: MMM yyyy
  xAxes:
    - type: DateAxis
      id: category
      baseInterval:
        timeUnit: month
        count: 1
      dataFields:
        category: month
      title:
        disabled: true
      renderer:
        grid:
          disabled: true
        labels:
          disabled: true
  yAxes:
    - type: ValueAxis
      # min: 0
      # max: 100
      cursorTooltipEnabled: false
      title:
        disabled: true
      renderer:
        grid:
          disabled: true
        labels:
          disabled: true
  cursor:
    type: XYCursor
    xAxis: category
    fullWidthLineX: true
    lineX:
      fill: #607d8b
      fillOpacity: 0.1
    lineY:
      disabled: true

  series:
    - type: LineSeries
      name: 'promoters'
      connect: 
        $literal: false
      fill: 
        type: LinearGradient
        rotation: 90
        gradientUnits: userSpaceOnUse
        stops:
          - color:
              _global: colors.nps.promoter
            opacity: 1
          - color:
              _global: colors.nps.promoter
            opacity: 0
      fillOpacity: 0.5
      strokeWidth: 2
      tensionX: 0.9
      tensionY: 0.9
      legendSettings:
        itemValueText: '{valueY}'
      dataFields:
        valueY: percent_promoters_{{ division }}
        dateX: month
    - type: LineSeries
      name: 'detractors'
      connect: 
        $literal: false
      fill: 
        type: LinearGradient
        rotation: 90
        gradientUnits: userSpaceOnUse
        stops:
          - color:
              _global: colors.nps.detractor
            opacity: 1
          - color:
              _global: colors.nps.detractor
            opacity: 0
      fillOpacity: 0.5
      strokeWidth: 2
      tensionX: 0.9
      tensionY: 0.9
      legendSettings:
        itemValueText: '{valueY}'
      dataFields:
        valueY: percent_detractors_{{ division }}
        dateX: month
        sample: sample
    - type: LineSeries
      name: 'nps'
      connect: 
        $literal: false
      strokeWidth: 4
      tensionX: 0.9
      tensionY: 0.9
      legendSettings:
        itemValueText: '{valueY}'
      dataFields:
        valueY: nps_{{ division }}
        dateX: month
        current_nps: nps_{{ division }}_current
        current_percent_promoters: percent_promoters_{{ division }}_current
        current_percent_detractors: percent_detractors_{{ division }}_current
      bullets:
        # - type: LabelBullet
        #   label:
        #     text: "{valueY}"
        #     dy: -10
        #     fontSize: 12
        #     opacity: 0
        #     propertyFields:
        #       opacity: opacity
        - type: CircleBullet
          tooltipText: "{dateX}\nRolling Avg: {valueY}\nMonth NPS: {current_nps}\nPromoters: {current_percent_promoters}%\nDetractors: {current_percent_detractors}%"
          strokeWidth: 8
          scale: 0.5
          circle: 
            radius: 0
          dateFormatter: 
            dateFormat: MMM yyyy
          states:
            hover:
              properties:
                scale: 1.2