## -----------------
## 
## overview_statistic
## Calculate index for selected period and show statistic along with movement from previous period
## 
## vars:
##   id: _string_ (REQUIRED) - id for the component.
##   span: _integer_ - Span of the component. Default 24.
##   size_auto: _boolean_ - Sets layout to flex if set to true. Default null
##   connectionId: _string_ (REQUIRED) - MongoDB collection connection id.
##   request: _string_ (REQUIRED) - Request name from which to read data.
##   index: _string_ (REQUIRED) - the index field used to calculate the monthly average on. [csi,nps]
##   division: _integer_ (REQUIRED) - which division to show. [company,sales,after_sales,parts,service]_[company,sales,after_sales,parts,service]
##   period: _integer_ (REQUIRED) - which period. [fytd,current]
##   index_name: _string_ (REQUIRED) - the index name used to label the field value.
##   title_font_size: _integer_ - the font size of the title (the index_name). Default: 18.
##   index_font_size: _integer_ - the font size of the index score. Default: 60.
##   index_font_weight: _integer_ - the font weight of the index score. Default: 200.
##   subtitle_font_size:  _integer_ - the font size of the subtitle (the movement). Default: 16.
##   icon_size:  _integer_ - the font size of the subtitle (the movement). Default: 14.
##   hide_movement: _boolean_ - if true, hides the subtitle/ movement part. Default: false.
## ------------------

id: overview_statistic_{{ id }}
type: Box
layout:
  contentAlign: middle
  flex:
    _var:
      name: flex
      default: null
  span:
    _var:
      name: span
      default: 24
  sm:
    size: auto
requests:
  - id: overview_index_{{ id }}
    type: MongoDBAggregation
    connectionId: {{ connectionId }}
    properties:
      pipeline:
        - $match:
            published: true
            department:
              $in:
                _state: departments
            financial_year:
              _state: max_financial_year
        - $match:
            Mnt:
              $lte:
                _state: end_month
        - $facet:
            fytd:
              - $group:
                  _id: 0
                  company_sample:
                    $sum: 1
                  company_csi:
                    $avg: $csi
                  company_promoters:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  company_detractors:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  company_nps_sample:
                    $sum:
                      $cond:
                        - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% for item in departments %}
                  {{ item.field }}_sample:
                    $sum:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - 1
                        - 0
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_sample:
                    $sum:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - 1
                        - 0
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
              - $addFields:
                  company_nps:
                    $cond:
                      - $eq:
                          - $company_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - $company_promoters
                                  - $company_detractors
                              - $company_nps_sample
                          - 100
{% for item in departments %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
              - $project:
                  csi_company_fytd: $company_csi
                  nps_company_fytd: $company_nps
{% for item in divisions %}
                  csi_{{ item.field }}_fytd: ${{ item.field }}_csi
                  nps_{{ item.field }}_fytd: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
                  csi_{{ item.field }}_fytd: ${{ item.field }}_csi
                  nps_{{ item.field }}_fytd: ${{ item.field }}_nps
{% endfor %}

            current_month:
              - $match:
                  Mnt:
                    _state: end_month
              - $group:
                  _id: 0
                  company_sample:
                    $sum: 1
                  company_csi:
                    $avg: $csi
                  company_promoters:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  company_detractors:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  company_nps_sample:
                    $sum:
                      $cond:
                        - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% for item in departments %}
                  {{ item.field }}_sample:
                    $sum:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - 1
                        - 0
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_sample:
                    $sum:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - 1
                        - 0
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
              - $addFields:
                  company_nps:
                    $cond:
                      - $eq:
                          - $company_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - $company_promoters
                                  - $company_detractors
                              - $company_nps_sample
                          - 100
{% for item in departments %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
              - $project:
                  csi_company_current: $company_csi
                  nps_company_current: $company_nps
{% for item in divisions %}
                  csi_{{ item.field }}_current: ${{ item.field }}_csi
                  nps_{{ item.field }}_current: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
                  csi_{{ item.field }}_current: ${{ item.field }}_csi
                  nps_{{ item.field }}_current: ${{ item.field }}_nps
{% endfor %}
        
            previous_month:
              - $match:
                  $expr:
                    $eq:
                      - $Mnt
                      - $dateFromParts:
                          year:
                            $year:
                              _state: end_month
                          month:
                            $subtract:
                              - $month:
                                  _state: end_month
                              - 1
              - $group:
                  _id: 0
                  company_sample:
                    $sum: 1
                  company_csi:
                    $avg: $csi
                  company_promoters:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  company_detractors:
                    $sum:
                      $cond:
                        - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  company_nps_sample:
                    $sum:
                      $cond:
                        - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% for item in departments %}
                  {{ item.field }}_sample:
                    $sum:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - 1
                        - 0
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $eq:
                          - $department
                          - {{ item.name }}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $eq:
                            - $department
                            - {{ item.name }}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_sample:
                    $sum:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - 1
                        - 0
                  {{ item.field }}_csi:
                    $avg:
                      $cond:
                        - $or:
{% for department in item.departments %}
                          - $eq:
                            - $department
                            - {{ department }}
{% endfor %}
                        - $csi
                        - null
                  {{ item.field }}_promoters:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Promoter
                        - 1
                        - 0
                  {{ item.field }}_detractors:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $eq:
                            - $promoter
                            - Detractor
                        - 1
                        - 0
                  {{ item.field }}_nps_sample:
                    $sum:
                      $cond:
                        - $and:
                          - $or:
{% for department in item.departments %}
                            - $eq:
                              - $department
                              - {{ department }}
{% endfor %}
                          - $ne:
                            - $promoter
                            - null
                        - 1
                        - 0
{% endfor %}
              - $addFields:
                  company_nps:
                    $cond:
                      - $eq:
                          - $company_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - $company_promoters
                                  - $company_detractors
                              - $company_nps_sample
                          - 100
{% for item in departments %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
{% for item in divisions %}
                  {{ item.field }}_nps:
                    $cond:
                      - $eq:
                          - ${{ item.field }}_nps_sample
                          - 0
                      - null
                      - $multiply:
                          - $divide:
                              - $subtract:
                                  - ${{ item.field }}_promoters
                                  - ${{ item.field }}_detractors
                              - ${{ item.field }}_nps_sample
                          - 100
{% endfor %}
              - $project:
                  csi_company_previous: $company_csi
                  nps_company_previous: $company_nps
{% for item in divisions %}
                  csi_{{ item.field }}_previous: ${{ item.field }}_csi
                  nps_{{ item.field }}_previous: ${{ item.field }}_nps
{% endfor %}
{% for item in departments %}
                  csi_{{ item.field }}_previous: ${{ item.field }}_csi
                  nps_{{ item.field }}_previous: ${{ item.field }}_nps
{% endfor %}
        - $unwind:
            path: $fytd
        - $unwind:
            path: $current_month
        - $unwind:
            path: $previous_month
        - $project:
            A:
              $mergeObjects:
                - $current_month
                - csi_company_difference:
                    $subtract:
                      - $current_month.csi_company_current
                      - $previous_month.csi_company_previous
                  nps_company_difference:
                    $subtract:
                      - $current_month.nps_company_current
                      - $previous_month.nps_company_previous 
{% for item in divisions %}
                  csi_{{ item.field }}_difference:
                    $subtract:
                      - $current_month.csi_{{ item.field }}_current
                      - $previous_month.csi_{{ item.field }}_previous
                  nps_{{ item.field }}_difference:
                    $subtract:
                      - $current_month.nps_{{ item.field }}_current
                      - $previous_month.nps_{{ item.field }}_previous
{% endfor %}
{% for item in departments %}
                  csi_{{ item.field }}_difference:
                    $subtract:
                      - $current_month.csi_{{ item.field }}_current
                      - $previous_month.csi_{{ item.field }}_previous
                  nps_{{ item.field }}_difference:
                    $subtract:
                      - $current_month.nps_{{ item.field }}_current
                      - $previous_month.nps_{{ item.field }}_previous
{% endfor %}
                - $fytd
        - $replaceRoot:
            newRoot: $A
blocks:
  - id: index_statistic_title_{{ id }}
    type: Html
    properties:
      html: 
        _nunjucks:
          template: |
            {% raw %}
            <p style='font-size: {{ font_size }}px; line-height:1; margin: 0; text-align:right;'>
              {{ index }}
            </p>
            {% endraw %}
          on:
            font_size:
              _var:
                name: title_font_size
                default: 18
            index:
              _var: index_name # Might be an operator so don't use njks
  - id: score_{{ id }}
    type: Html
    properties:
      html:
        _nunjucks:
          template: |
            {% raw %}
            <p style='font-size:{{ font_size }}px; font-weight: {{ font_weight }}; line-height:1; margin: 5px; text-align:right;'>
              {{ "-" if score == "loading" else score | round(1) }}
            </p>
            {% endraw %}
          on:
            font_size:
              _var:
                name: index_font_size
                default: 60
            font_weight:
              _var:
                name: index_font_weight
                default: 200
            score:
              _get:
                key: 0.{{ index }}_{{ division }}_{{ period }}
                from:
                  _mql.expr:
                    on:
                      _state: true
                    expr:
                      $ifNull:
                        - _request: overview_index_{{ id }}
                        - [{ {{ index }}_{{ division }}_{{ period }}: 'loading' }]
  - id: movement_box_{{ id }}
    type: Box
    layout:
      contentJustify: end
    visible:
      _not:
        _var:
          name: hide_movement
          default: false
    blocks:
      - id: movement_icon_{{ id }}
        type: Icon
        layout:
          flex: 0 1 auto
        style:
          marginRight: 8
        properties:
          size:
            _var:
              name: icon_size
              default: 14
          name:
            _mql.expr:
              expr:
                $switch:
                  branches:
                    - case:
                        $gt:
                          - ${{ index }}_{{ division }}_difference
                          - 0
                      then: ArrowUpOutlined
                    - case:
                        $lt:
                          - ${{ index }}_{{ division }}_difference
                          - 0
                      then: ArrowDownOutlined
                    - case:
                        $eq:
                          - ${{ index }}_{{ division }}_difference
                          - 0
                      then: MinusOutlined
                  default: LoadingOutlined
              on:
                _get:
                  key: '0'
                  from:
                    _if_none:
                      - _request: overview_index_{{ id }}
                      - [{}]
          style:
            color:
              _mql.expr:
                expr:
                  $switch:
                    branches:
                      - case:
                          $gt:
                            - ${{ index }}_{{ division }}_difference
                            - 0
                        then: '#237804'
                      - case:
                          $lt:
                            - ${{ index }}_{{ division }}_difference
                            - 0
                        then: '#cf1322'
                    default: '#212121'
                on:
                  _get:
                    key: '0'
                    from:
                      _request: overview_index_{{ id }}
      - id: movement_text_{{ id }}
        type: Html
        layout:
          flex: 0 1 auto
        properties:
          html:
            _nunjucks:
              template: |
                {% raw %}
                <font style='color: {{ color }}; font-size:{{ font_size }}px' >
                  {{ movement | abs | round(1) }}
                </font>
                <font style='color: {{ color }}; font-size:{{ font_size - 4 }}px' >
                  from previous month
                </font>
                {% endraw %}
              on:
                font_size:
                  _var:
                    name: subtitle_font_size
                    default: 16
                movement:
                  _get:
                    key: '0.{{ index }}_{{ division }}_difference'
                    from:
                      _request: overview_index_{{ id }}
                color:
                  _mql.expr:
                    expr:
                      $switch:
                        branches:
                          - case:
                              $gt:
                                - ${{ index }}_{{ division }}_difference
                                - 0
                            then: '#1b5e20'
                          - case:
                              $lt:
                                - ${{ index }}_{{ division }}_difference
                                - 0
                            then: '#b71c1c'
                        default: '#212121'
                    on:
                      _get:
                        key: '0'
                        from:
                          _request: overview_index_{{ id }}