## -----------------
## 
## overview_nps_divisions_chart
## Calculate indices and render trend timeline chart.
## 
## vars:
##   id: _string_ - id for the component.
##   connectionId: _string_ - MongoDB collection connection id.
##   span: _integer_ - Span of the component. Default 24.
##   height: _number_ - height of the timeline chart.
##   colors: [_string_] - colors of the timeline chart.
## ------------------

id: {{ id }}
type: AmChartsXY
layout:
  contentJustify: end
  span:
    _var:
      name: span
      default: 24
requests:
  - id: divisions_overview_{{ id }}
    type: MongoDBAggregation
    connectionId:
      _var: connectionId
    properties:
      pipeline:
        - $match:
            published: true
            department:
              $in: 
                _state: departments
        - $match:
            $expr:
              $and:
                - $gte:
                    - $Mnt
                    - $dateFromParts:
                        year:
                          $year:
                            _state: end_month
                        month: 
                          $subtract:
                            - $month:
                                _state: end_month
                            - 12
                - $lte:
                    - $Mnt
                    - _state: end_month
        - $group:
            _id: $Mnt
            financial_year:
              $first: $financial_year
            company_promoters:
              $sum:
                $cond:
                  - $eq:
                      - $promoter
                      - Promoter
                  - 1
                  - 0
            company_detractors:
              $sum:
                $cond:
                  - $eq:
                      - $promoter
                      - Detractor
                  - 1
                  - 0
            company_nps_sample:
              $sum:
                $cond:
                  - $ne:
                      - $promoter
                      - null
                  - 1
                  - 0
{% for item in departments %}
            {{ item.field }}_promoters:
              $sum:
                $cond:
                  - $and:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $eq:
                      - $promoter
                      - Promoter
                  - 1
                  - 0
            {{ item.field }}_detractors:
              $sum:
                $cond:
                  - $and:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $eq:
                      - $promoter
                      - Detractor
                  - 1
                  - 0
            {{ item.field }}_nps_sample:
              $sum:
                $cond:
                  - $and:
                    - $eq:
                      - $department
                      - {{ item.name }}
                    - $ne:
                      - $promoter
                      - null
                  - 1
                  - 0
{% endfor %}
{% for item in divisions %}
            {{ item.field }}_promoters:
              $sum:
                $cond:
                  - $and:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $eq:
                      - $promoter
                      - Promoter
                  - 1
                  - 0
            {{ item.field }}_detractors:
              $sum:
                $cond:
                  - $and:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $eq:
                      - $promoter
                      - Detractor
                  - 1
                  - 0
            {{ item.field }}_nps_sample:
              $sum:
                $cond:
                  - $and:
                    - $or:
{% for department in item.departments %}
                      - $eq:
                        - $department
                        - {{ department }}
{% endfor %}
                    - $ne:
                      - $promoter
                      - null
                  - 1
                  - 0
{% endfor %}
        - $sort:
            _id: 1
        - $project:
            Mnt: $_id
            financial_year: 1
            period:
              $subtract:
                - _state: end_month
                - $_id
            divisions:
              - name: Company
                nps_sample: $company_nps_sample
                promoters: $company_promoters
                detractors: $company_detractors
                company_nps_sample: $company_nps_sample
                company_promoters: $company_promoters
                company_detractors: $company_detractors
{% for item in divisions %}
              - name: {{ item.name }}
                nps_sample: ${{ item.field }}_nps_sample
                promoters: ${{ item.field }}_promoters
                detractors: ${{ item.field }}_detractors
                company_nps_sample: $company_nps_sample
                company_promoters: $company_promoters
                company_detractors: $company_detractors
{% endfor %}
{% for item in departments %}
              - name: {{ item.name }}
                nps_sample: ${{ item.field }}_nps_sample
                promoters: ${{ item.field }}_promoters
                detractors: ${{ item.field }}_detractors
                company_nps_sample: $company_nps_sample
                company_promoters: $company_promoters
                company_detractors: $company_detractors
{% endfor %}
        - $unwind:
            path: $divisions
            includeArrayIndex: rank
        - $group:
            _id: $divisions.name
            rank:
              $first: $rank
            nps_sample_1month:
              $sum:
                $cond:
                  - $eq:
                    - $Mnt
                    - _state: end_month
                  - $divisions.nps_sample
                  - 0
            promoters_1month:
              $sum:
                $cond:
                  - $eq:
                    - $Mnt
                    - _state: end_month
                  - $divisions.promoters
                  - 0
            detractors_1month:
              $sum:
                $cond:
                  - $eq:
                    - $Mnt
                    - _state: end_month
                  - $divisions.detractors
                  - 0

            nps_sample_3month:
              $sum:
                $cond:
                  - $lt:
                    - $period
                    - $multiply: [1000,60,60,24,31,3]
                  - $divisions.nps_sample
                  - 0
            promoters_3month:
              $sum:
                $cond:
                  - $lt:
                    - $period
                    - $multiply: [1000,60,60,24,31,3]
                  - $divisions.promoters
                  - 0
            detractors_3month:
              $sum:
                $cond:
                  - $lt:
                    - $period
                    - $multiply: [1000,60,60,24,31,3]
                  - $divisions.detractors
                  - 0

            nps_sample_6month:
              $sum:
                $cond:
                  - $lt:
                    - $period
                    - $multiply: [1000,60,60,24,31,6]
                  - $divisions.nps_sample
                  - 0
            promoters_6month:
              $sum:
                $cond:
                  - $lt:
                    - $period
                    - $multiply: [1000,60,60,24,31,6]
                  - $divisions.promoters
                  - 0
            detractors_6month:
              $sum:
                $cond:
                  - $lt:
                    - $period
                    - $multiply: [1000,60,60,24,31,6]
                  - $divisions.detractors
                  - 0

            nps_sample_12month:
              $sum: $divisions.nps_sample
            promoters_12month:
              $sum: $divisions.promoters
            detractors_12month:
              $sum: $divisions.detractors
              
            nps_sample_fytd:
              $sum:
                $cond:
                  - $eq:
                    - $financial_year
                    - _state: max_financial_year
                  - $divisions.nps_sample
                  - 0
            promoters_fytd:
              $sum:
                $cond:
                  - $eq:
                    - $financial_year
                    - _state: max_financial_year
                  - $divisions.promoters
                  - 0
            detractors_fytd:
              $sum:
                $cond:
                  - $eq:
                    - $financial_year
                    - _state: max_financial_year
                  - $divisions.detractors
                  - 0

            company_nps_sample_fytd:
              $sum:
                $cond:
                  - $eq:
                    - $financial_year
                    - _state: max_financial_year
                  - $divisions.company_nps_sample
                  - 0
            company_promoters_fytd:
              $sum:
                $cond:
                  - $eq:
                    - $financial_year
                    - _state: max_financial_year
                  - $divisions.company_promoters
                  - 0
            company_detractors_fytd:
              $sum:
                $cond:
                  - $eq:
                    - $financial_year
                    - _state: max_financial_year
                  - $divisions.company_detractors
                  - 0
        - $sort: 
            rank: 1
        - $project:
            nps_1month:
              $cond:
                - $eq:
                    - $nps_sample_1month
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $promoters_1month
                            - $detractors_1month
                        - $nps_sample_1month
                    - 100
            nps_3month:
              $cond:
                - $eq:
                    - $nps_sample_3month
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $promoters_3month
                            - $detractors_3month
                        - $nps_sample_3month
                    - 100
            nps_6month:
              $cond:
                - $eq:
                    - $nps_sample_6month
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $promoters_6month
                            - $detractors_6month
                        - $nps_sample_6month
                    - 100
            nps_12month:
              $cond:
                - $eq:
                    - $nps_sample_12month
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $promoters_12month
                            - $detractors_12month
                        - $nps_sample_12month
                    - 100
            nps_fytd:
              $cond:
                - $eq:
                    - $nps_sample_fytd
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $promoters_fytd
                            - $detractors_fytd
                        - $nps_sample_fytd
                    - 100
            company_fytd:
              $cond:
                - $eq:
                    - $company_nps_sample_fytd
                    - 0
                - null
                - $multiply:
                    - $divide:
                        - $subtract:
                            - $company_promoters_fytd
                            - $company_detractors_fytd
                        - $company_nps_sample_fytd
                    - 100

properties:
  height: 
    _var: height
  paddingRight: 0
  # paddingBottom: 0
  paddingLeft: 0
  marginLeft: 20
  marginRight: 20
  numberFormatter:
    numberFormat: "#.#"
  colors:
    list:
      _var: colors
  data:
    _mql.aggregate:
      on:
        _request: divisions_overview_{{ id }}
      pipeline:
        - $addFields:
            all:
              $concat:
                - "Company FYtD: [bold]"
                - $toString: 
                    $ifNull:
                      - $round:
                        - $company_fytd
                        - 1
                      - ""
                - "[/]\n"
                - "1 Month: [bold]"
                - $toString: 
                    $ifNull:
                      - $round:
                        - $nps_1month
                        - 1
                      - ""
                - "[/]\n"
                - "3 Months: [bold]"
                - $toString: 
                    $round:
                      - $nps_3month
                      - 1
                - "[/]\n"
                - "6 Months: [bold]"
                - $toString: 
                    $round:
                      - $nps_6month
                      - 1
                - "[/]\n"
                - "FYtD: [bold]"
                - $toString: 
                    $round:
                      - $nps_fytd
                      - 1
                - "[/]\n"
  legend:
    type: Legend
    position: bottom
    # useDefaultMarker: true
    fontSize: 12
    # maxWidth: 100
    itemContainers: 
      # width: 40
      # paddingTop: 0
      paddingBottom: 0
      paddingLeft: -15
      paddingRight: 0
  xAxes:
    - type: CategoryAxis
      id: division
      cursorTooltipEnabled: false
      dataFields:
        category: _id
      renderer:
        cellStartLocation: 0.1
        cellEndLocation: 0.9
        minGridDistance: 20
        grid:
          location: 0
        labels:
          contentAlign: right
          rotation: -60
          fontSize: 12
          verticalCenter: middle
          horizontalCenter: right
  yAxes:
    - type: ValueAxis
      extraMax: 0.1
      cursorTooltipEnabled: false
      title:
        disabled: true
      # renderer:
      #   grid:
      #     disabled: true
      #   labels:
      #     disabled: true
  cursor:
    type: XYCursor
    xAxis: division
    fullWidthLineX: true
    lineX:
      fill: #607d8b
      fillOpacity: 0.1
    lineY:
      disabled: true

  series:
    - type: ColumnSeries
      name: 1 Month
      fillOpacity: 0.5
      dataFields:
        categoryX: _id
        valueY: nps_1month
      legendSettings:
        itemValueText: '{valueY}'
      # columns:
      #   tooltipText: '{name}: {valueY}'
    - type: ColumnSeries
      name: 3 Months
      fillOpacity: 0.5
      dataFields:
        categoryX: _id
        valueY: nps_3month
      legendSettings:
        itemValueText: '{valueY}'
      # columns:
      #   tooltipText: '{name}: {valueY}'
    - type: ColumnSeries
      name: 6 Months
      fillOpacity: 0.5
      dataFields:
        categoryX: _id
        valueY: nps_6month
      legendSettings:
        itemValueText: '{valueY}'
      # columns:
      #   tooltipText: '{name}: {valueY}'
    - type: ColumnSeries
      name: FYtD
      fillOpacity: 0.5
      dataFields:
        categoryX: _id
        valueY: nps_fytd
      legendSettings:
        itemValueText: '{valueY}'
      # columns:
      #   tooltipText: '{name}: {valueY}'
    - type: LineSeries
      name: Company FYtD
      connect: false
      strokeWidth: 4
      stroke: "#000"
      tensionX: 0.9
      tensionY: 0.9
      legendSettings:
        itemValueText: '{valueY}'
      dataFields:
        valueY: company_fytd
        categoryX: _id
        all: all
      tooltipText: '{all}'
      tooltip:
        getFillFromObject: false
        background:
          fill: "#000"